@model BDSBanGap.Models.DBContext.Product

@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <link rel="icon" href="http://www.diaoconline.vn/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://www.diaoconline.vn/favicon.ico" type="image/x-icon">
    <title>Cần bán gấp nhà mặt tiền đường An Điềm, P10, Q5, DT: 3.6m x 16m, giá: 5.5 tỷ (thương lượng). - DiaOcOnline</title>
    <meta name="description" content="Cần bán nhà phốQuận 5TP.HCM, mặt tiền đường, An Điềm, phường 10, 3.6m X 16m, DTSD 57.6m2, Sổ hồng" />
    <meta name="keywords" content="Cần bán,nhà phố,An Điềm,10,Quận 5,TP.HCM,DTSD 57.6ms,Sổ hồng" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="image_src" href="http://image.diaoconline.vn/sieu-thi/nha-pho.jpg" />
    <link href="../../Content/styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/general.css?134612" rel="stylesheet" type="text/css" />
    <!--[if IE 7]>
    <link href="css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <link href="../../Content/styles/Asset.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/slides.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/tools.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/doolv3.css" rel="stylesheet" type="text/css" />
	<link href="../../Content/styles/home.css" rel="stylesheet" type="text/css" />
    <script type='text/javascript'>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1771835-4']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  </script>


<div id="container">
    <div id="content_container">
            <div class="wrap">

        <div class="wrap">
            

			<div class="col_780 margin_left">
                <div id="result_detail" class="margin_bottom">
                     <div class="rounded_style_2 rounded_box margin_bottom">
                        <div class="unity_bar">
                            <div class="left">
                                <div class="email_print">
                                    <ul>
                                        <li><a href="/sieu-thi/in/can-ban-gap-nha-mat-tien-duong-an-diem-p10-q5-dt-36m-x-16m-gia-55-ty-thuong-luong-498070">
                                            <span class="ico_16 ico_print_16"></span>Bản in</a></li>
                                        <li>
                                        
                                        <a href="javascript:void(0)" onclick="GetDataSaved('uOxnxC53Q8Z9FMhC8+5KXw==','/ban-nha-pho-c20/can-ban-gap-nha-mat-tien-duong-an-diem-p10-q5-dt-36m-x-16m-gia-55-ty-thuong-luong-i498070','.itemsaved')" class="itemsaved">
                                            <span class="ico_16 ico_save_2_16"></span>Lưu tin</a></li>
                                        <li><a href="http://www.diaoconline.vn/"><span class="ico_16 ico_back_16"></span>Quay lại</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="right">
                                    <div  class="social_network">
        <span class="tl">Chia sẻ</span>
        <ul>
        <li><a href="http://www.facebook.com/share.php?u=http://www.diaoconline.vn/ban-nha-pho-c20/can-ban-gap-nha-mat-tien-duong-an-diem-p10-q5-dt-36m-x-16m-gia-55-ty-thuong-luong-i498070" target="_blank"><span class="ico_16 ico_facebook_16">facebook</span></a></li>
        <li><a href="https://twitter.com/intent/tweet?text=C%e1%ba%a7n+b%c3%a1n+g%e1%ba%a5p+nh%c3%a0+m%e1%ba%b7t+ti%e1%bb%81n+%c4%91%c6%b0%e1%bb%9dng+An+%c4%90i%e1%bb%81m%2c+P10%2c+Q5%2c+DT%3a+3.6m+x+16m%2c+gi%c3%a1%3a+5.5+t%e1%bb%b7+(th%c6%b0%c6%a1ng+l%c6%b0%e1%bb%a3ng).&url=http://www.diaoconline.vn/ban-nha-pho-c20/can-ban-gap-nha-mat-tien-duong-an-diem-p10-q5-dt-36m-x-16m-gia-55-ty-thuong-luong-i498070&via=DiaOcOnlinevn" target="_blank"><span class="ico_16 ico_twitter_16">twitter</span></a></li>
        
        </ul>
    </div>

                            </div>
                        </div>
                            <style type="text/css">
        html
        {
            height: 100%;
        }
        body
        {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map_canvas
        {
            height: 100%;
        }
    </style>
    <script src="../../Scripts/home/jquery.lightbox-0.5.js" type="text/javascript"></script>
    <link href="../../Content/styles/jquery.lightbox-0.5.css" rel="stylesheet"
        type="text/css" />
    <script type="text/javascript">
        $(function () {
            $('#slider a').lightBox({ maxHeight: screen.height * 0.9,
                maxWidth: screen.width * 0.9
            });
        });
    </script>
    <style type="text/css">
        /* jQuery lightBox plugin - Gallery style */
        #gallery
        {
            background-color: #444;
            padding: 10px;
            width: 520px;
        }
        #gallery ul
        {
            list-style: none;
        }
        #gallery ul li
        {
            display: inline;
        }
        #gallery ul img
        {
            border: 5px solid #3e3e3e;
            border-width: 5px 5px 20px;
        }
        #gallery ul a:hover img
        {
            border: 5px solid #fff;
            border-width: 5px 5px 20px;
            color: #fff;
        }
        #gallery ul a:hover
        {
            color: #fff;
        }
    </style>
                         <div class="body">
                         
        <h2 class="larger_title">@Model.Tittle</h2>
        <span class="location">Vị trí: @Model.DuongTruocNha , phường @Model.Ward.WardName, Quận @Model.Ward.District.DistrictName, TP.HCM</span>
        <div class="detail_info">
                <link href="../../Content/styles/asset_detail.css" rel="stylesheet" type="text/css" />
                    <div id="image_gallery" class="rounded_box rounded_style_2">
                        <div class="flexslider">
                            <div id="house4sell-detail-" style="float:left">
                    	<div class="house-image-large" style="position:relative">
                        	<img src="images/nhadep 400x300.jpg" class="large-image" width="450px" height="330px">
                        </div> <!-- end .house-img-larg -->
                        <div class="list-thumbs-house">
                        	<ul style="width:452px">
                            	<li>
                                	<a href="" class="thumb">
                                    	<img src="images/imgthumb 64x48.jpg" width="64px" height="48px">
                                    </a>
                                </li>
                                <li>
                                	<a href="" class="thumb">
                                    	<img src="images/imgthumb 64x48.jpg" width="64px" height="48px">
                                    </a>
                                </li>
                                <li>
                                	<a href="" class="thumb">
                                    	<img src="images/imgthumb 64x48.jpg" width="64px" height="48px">
                                    </a>
                                </li>
                                <li>
                                	<a href="" class="thumb">
                                    	<img src="images/imgthumb 64x48.jpg" width="64px" height="48px">
                                    </a>
                                </li>
                                <li>
                                	<a href="" class="thumb">
                                    	<img src="images/imgthumb 64x48.jpg" width="64px" height="48px">
                                    </a>
                                </li>
                                <li>
                                	<a href="" class="thumb">
                                    	<img src="images/imgthumb 64x48.jpg" width="64px" height="48px">
                                    </a>
                                </li>
                            </ul>
                        </div> <!-- end .list-thumbs-house -->
                    </div>
                        </div>
                    </div>
            <div class="right margin_left">
                <div class="features margin_bottom">
                    <div class="currency_convertor">
                        <div class="money">
                            Giá: @Model.Price</div>
                    </div>
                    <div class="feat_item">
                        <dl>
                            <dt>Mã số tài sản:</dt>
                            <dd>498070</dd>
                            <dt>Tổng diện tích sử dụng:</dt>
                            <dd>
57.6m&sup2;
</dd>
                            <dt>Diện tích khuôn viên:</dt>
                            <dd>
3.6m x  16m
</dd>
                            <dt>Diện tích xây dựng:</dt>
                            <dd>
3.6m x  16m
</dd>
                            <dt>Tình trạng:</dt>
                            <dd>
Sổ hồng</dd>
                            <dt>Số phòng ngủ:</dt>
                            <dd>&nbsp;
                                    
</dd>
                            <dt>Số phòng tắm / WC:</dt>
                            <dd>&nbsp;
                                    
</dd>
                        </dl>
                    </div>
                </div>
                <div class="contact_info margin_bottom">
                    <h3 class="small_headline">
                        THÔNG TIN LIÊN HỆ</h3>
                    <div class="body">
                            <h4>
                                <a href="javascript:void(0)" style="cursor: default">Công Ty CP Địa ốc SaiGon New Land  - A. Thìn</a></h4>
                            <dl>
                                <dt>ĐT:&nbsp;</dt><dd>
                                        <span>0909520917</span>
                                </dd>
                                <dt>Địa chỉ:&nbsp;</dt><dd>VP. CTY:   78 đường số 2  cư xá Đô Thành&nbsp;</dd>
                            </dl>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="detail" class="margin_bottom">
            <div class="headline_title_1 rounded_style_5 rounded_box">
                <h2 class="headline">
                    <span>MÔ TẢ CHI TIẾT</span></h2>
            </div>
            <div class="rounded_style_2 rounded_box">
                <div class="body">
                    <p>Cần bán gấp nhà mặt tiền đường An Điềm, P10, Q5. DT: 3.6m x 16m, giá: 5.5 tỷ (thương lượng). Vị trí đẹp nằm ngay trung tâm Q5, ngay khu vực kinh doanh văn phòng, ngân hàng ...Khu an ninh, dân trí cao, gần chợ, trường học, bệnh viện...Nhà cấp 4 tiện xây mới. <br /><br />Vị trí mặt tiền cực đẹp, xem nhà ưng ý liền, đặt cọc vào sử dụng ngay. Xem nhà vui lòng liên hệ: 0909 52 0917, Gặp Anh Thìn. Ko tiếp môi giới.</p>
                </div>
            </div>
        </div>
        <div id="feature_detail" class="margin_bottom">
            <div class="headline_title_1 rounded_style_5 rounded_box">
                <h2 class="headline">
                    <span>CẤU TRÚC &amp; TIỆN ÍCH</span></h2>
            </div>
            <div class="rounded_style_2 rounded_box">
                <div class="body">
                    <div class="block">
                        <table>
                            <tbody>
                                <tr class="bg_grey">
                                    <td>
                                        Tổng diện tích sử dụng: <strong>
                                            57.6m&sup2;</strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td>
                                        <strong>Diện tích khuôn viên</strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều ngang trước: <strong>
                                            3.6m</strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều ngang sau: <strong>
                                            </strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều dài: <strong>
                                            16m</strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td>
                                        <strong>Diện tích xây dựng</strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều ngang trước: <strong>
                                            3.6m</strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều ngang sau: <strong>
                                            </strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều dài: <strong>
                                            16m</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block">
                        <table>
                            <tbody>
                                <tr class="bg_grey">
                                    <td>
                                        Loại địa ốc: <strong>
                                            Nhà phố</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tình trạng pháp lý: <strong>
                                            Sổ hồng</strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td>
                                        Hướng: <strong>
                                            </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Đường trước nhà: <strong>
                                            </strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td>
                                        Vị trí địa ốc: <strong>
                                            Mặt tiền đường</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Số lầu: <strong>
                                            </strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td>
                                        Số phòng khách: <strong>
                                            </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Số phòng ngủ: <strong>
                                            </strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td>
                                        Số phòng tắm/WC: <strong>
                                            </strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Số phòng khác: <strong>
                                            </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block">
                        <table>
                            <tbody>
                                    <tr class="bg_grey">
                                        <td>Đầy đủ tiện nghi<span class="ico_16"></span>
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Chỗ đậu xe hơi<span class="ico_16"></span>
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Sân vườn<span class="ico_16"></span>
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Hồ bơi<span class="ico_16"></span>
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Tiện kinh doanh<span class="ico_16 ico_check_16"></span>
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Tiện để ở<span class="ico_16 ico_check_16"></span>
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Tiện làm văn phòng<span class="ico_16 ico_check_16"></span>
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Tiện cho sản xuất<span class="ico_16"></span>
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Cho sinh viên thuê<span class="ico_16"></span>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    </div>
                </div>
                    </div>
        </div>
    </div>

	</div>
    <!--FOOTER-->

	@*<script src="../../Scripts/home/uniform.js" type="text/javascript"></script>
    <script src="../../Scripts/home/selectForm.js" type="text/javascript"></script>
    <script src="../../Scripts/home/tooltipsy.min.js" type="text/javascript"></script>
    <script src="../../Scripts/home/slides.min.jquery.js" type="text/javascript"></script>
    <script src="../../Scripts/home/doolv3.js?134612" type="text/javascript"></script>*@
</div>

