@model BDSBanGap.Models.DBContext.Product

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link rel="icon" href="http://www.diaoconline.vn/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://www.diaoconline.vn/favicon.ico" type="image/x-icon">
    <meta name="description" content="@Model.Title" />
    <meta name="keywords" content=""@Model.Title" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../Content/styles/general.css?134612" rel="stylesheet" type="text/css" />
    <!--[if IE 7]>
    <link href="css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
<link href="../../Content/styles/asset_detail.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/Asset.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/slides.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/tools.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/doolv3.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/home.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/slideshow/jquery.ad-gallery.js" type="text/javascript"></script>
<link href="../../Scripts/slideshow/jquery.ad-gallery.css" rel="stylesheet" type="text/css" />

@*    <script type='text/javascript'>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-1771835-4']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  </script>*@
    <script type="text/javascript">
        $(function () {
            var galleries = $('.ad-gallery').adGallery();
        });
    </script>
   
<div id="container">
    <div id="content_container">
            <div class="wrap">

        <div class="wrap">
            

			<div class="col_720">
                <div id="result_detail" class="margin_bottom">
                     <div class="rounded_style_2 rounded_box margin_bottom">

<style type="text/css">
        html
        {
            height: 100%;
        }
        body
        {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map_canvas
        {
            height: 100%;
        }
        #gallery 
        {
            width: 470px;
    background: #e1eef5;
  }
  .image1 {
height: 50px;
}
    </style>
    <script src="../../Scripts/home/jquery.lightbox-0.5.js" type="text/javascript"></script>
    <link href="../../Content/styles/jquery.lightbox-0.5.css" rel="stylesheet"
        type="text/css" />
    <script type="text/javascript">
        $(function () {
            $('#slider a').lightBox({ maxHeight: screen.height * 0.9,
                maxWidth: screen.width * 0.9
            });
        });
    </script>
    @*<style type="text/css">
        /* jQuery lightBox plugin - Gallery style */
        #gallery
        {
            background-color: #444;
            padding: 10px;
            width: 520px;
        }
        #gallery ul
        {
            list-style: none;
        }
        #gallery ul li
        {
            display: inline;
        }
        #gallery ul img
        {
            border: 5px solid #3e3e3e;
            border-width: 5px 5px 20px;
        }
        #gallery ul a:hover img
        {
            border: 5px solid #fff;
            border-width: 5px 5px 20px;
            color: #fff;
        }
        #gallery ul a:hover
        {
            color: #fff;
        }
    </style>*@
                         <div class="body">
                         
        <h2 class="larger_title">@Model.Title</h2>
        <span class="location">Vị trí: @Model.DuongTruocNha , phường @Model.Ward.WardName, Quận @Model.Ward.District.DistrictName, TP.HCM</span>
        <div class="detail_info">
                <link href="../../Content/styles/asset_detail.css" rel="stylesheet" type="text/css" />
                    <div id="image_gallery" class="rounded_box rounded_style_2">
                      <div id="gallery" class="ad-gallery">
      <div class="ad-image-wrapper">
      </div>
      <div class="ad-controls">
      </div>
      <div class="ad-nav">
        <div class="ad-thumbs">
            <ul class="ad-thumb-list">
                @foreach (var item in Model.Images)
                {
                    <li>
                        <a href="@item.ImageLink">
                            <img src="@item.ThumblLink" title="@item.Caption" alt="" class="image1">
                        </a>
                    </li>
                }
            </ul>
        </div>
      </div>
    </div>

                    </div>
            <div class="right margin_left">
                <div class="features margin_bottom">
                    <div class="currency_convertor">
                        <div class="money">
                        @if(Model.IsSold)
                        {
                            <text>
                            ĐÃ BÁN
                            </text>  
                        }
                        else
                        {
                            <text>
                            Giá: @Model.Price tỷ
                            </text>
                        }
                        </div>
                    </div>
                    <div class="feat_item">
                        <dl>
                            <dt>DT sử dụng:</dt>
                            <dd>
 @(Model.DienTichSuDung)m&sup2; 
</dd>
                            <dt>DT khuôn viên:</dt>
                            <dd>
@((Model.KVNgangTruoc + Model.KVNgangSau) * Model.KVDai / 2)m&sup2;
</dd>
                            <dt>DT công nhận:</dt>
                            <dd>
@((Model.CNNgangTruoc + Model.CNNgangSau) * Model.CNDai / 2)m&sup2;
</dd>
                            <dt>Tình trạng pháp lý:</dt>
                            <dd>
                                @BDSBanGap.Models.Enum.TinhTrangPhapLy.GetTinhTrangPhapLy(Model.TinhTrangPhapLy)</dd>
                                <dt>Hướng nhà:</dt>
                            <dd>
@BDSBanGap.Models.Enum.huong.GetHuong(Model.Huong)                                   
</dd>
                            <dt>Số tầng:</dt>
                            <dd>
@Model.SoLau                                    
</dd>
                        
                        </dl>
                    </div>
                </div>
                <div class="contact_info margin_bottom">
                    <h3 class="small_headline">
                        THÔNG TIN LIÊN HỆ</h3>
                    <div class="body">
                            <h4>
                                <a href="" style="cursor: default">@Model.Contact.FullName</a></h4>
                            <dl>
                                <dt>ĐT:&nbsp;</dt><dd>
                                                      <span>@Model.Contact.Phone</span>
                                                  </dd>
                                                  <dt>Email:&nbsp;</dt><dd>
                                        <span>@Model.Contact.Email</span>
                                </dd>
                                <dt>Địa chỉ:&nbsp;</dt><dd>@Model.Contact.Address &nbsp;</dd>
                            </dl>
                    </div>
                </div>
                
            </div>
        </div>
        <div id="detail" class="margin_bottom">
            <div class="headline_title_1 rounded_style_5 rounded_box">
                <h2 class="headline">
                    <span>MÔ TẢ CHI TIẾT</span></h2>
            </div>
            <div class="rounded_style_2 rounded_box">
                <div class="body">
                    <p>@Html.Raw(Model.Description)</p>
                </div>
            </div>
        </div>
        <div id="feature_detail" class="margin_bottom">
            <div class="headline_title_1 rounded_style_5 rounded_box">
                <h2 class="headline">
                    <span>CẤU TRÚC &amp; TIỆN ÍCH</span></h2>
            </div>
            <div class="rounded_style_2 rounded_box">
                <div class="body">
                    <div class="block bl1">
                        <table>
                            <tbody>
                                <tr class="bg_grey">
                                    <td>
                                        Tổng diện tích sử dụng: <strong>
                                            @(Model.DienTichSuDung)m&sup2;</strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td>
                                        <strong>Diện tích khuôn viên</strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều ngang trước: <strong>
                                            @(Model.KVNgangTruoc)m</strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều ngang sau: <strong>
                                            @(Model.KVNgangSau)m</strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều dài: <strong>
                                            @(Model.KVDai)m</strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td>
                                        <strong>Diện tích được công nhận</strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều ngang trước: <strong>
                                            @(Model.CNNgangTruoc)m</strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều ngang sau: <strong>
                                            @(Model.CNNgangSau)m</strong>
                                    </td>
                                </tr>
                                <tr class="child">
                                    <td>
                                        Chiều dài: <strong>
                                            @(Model.CNDai)m</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block bl2">
                        <table>
                            <tbody>
                                <tr class="bg_grey">
                                    <td style="padding-left: 40px">
                                        Loại địa ốc: <strong>
                                            @BDSBanGap.Models.Enum.LoaiDiaOc.GetLoaiDiaOc(Model.LoaiDiaOc)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tình trạng pháp lý: <strong>
                                            @BDSBanGap.Models.Enum.TinhTrangPhapLy.GetTinhTrangPhapLy(Model.TinhTrangPhapLy)</strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td style="padding-left: 64px">
                                        Hướng: <strong>
                                            @BDSBanGap.Models.Enum.huong.GetHuong(Model.Huong)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 10px">
                                        Đường trước nhà: <strong>
                                            @Model.DuongTruocNha</strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td style="padding-left: 47px">
                                        Vị trí địa ốc: <strong>
                                            @BDSBanGap.Models.Enum.ViTriDiaOc.GetViTriDiaOc(Model.ViTriDiaOc)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 71px">
                                        Số lầu: <strong>
                                            @Model.SoLau</strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td style="padding-left: 30px">
                                        Số phòng ngủ: <strong>
                                            @Model.SoPhongNgu</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 8px">
                                        Số phòng tắm/WC: <strong>
                                            @Model.SoPhongTam</strong>
                                    </td>
                                </tr>
                                <tr class="bg_grey">
                                    <td style="padding-left: 27px">
                                        Số phòng khác: <strong>
                                            @Model.SoPhongKhac</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="block bl3">
                        <table>
                            <tbody>
                                    <tr class="bg_grey">
                                    <td>Đầy đủ tiện nghi 
                                    @{
                                        if (Model.DayDuTienNghi)
                                        {
                                           <span class="ico_16 ico_check_16"></span>         
                                        }
                                    }
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Chỗ đậu xe hơi
                                        @{
                                            if (Model.ChoDauXeHoi)
                                            {
                                           <span class="ico_16 ico_check_16"></span>         
                                            }
                                       
                                    }  
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Sân vườn
                                        @{
                                            if (Model.SanVuon)
                                            {
                                           <span class="ico_16 ico_check_16"></span>         
                                            }
                                       
                                    }
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Hồ bơi
                                        @{
                                            if (Model.HoBoi)
                                            {
                                           <span class="ico_16 ico_check_16"></span>         
                                            }
                                       
                                    }
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Tiện kinh doanh
                                        @{
                                            if (Model.TienKinhDoanh)
                                            {
                                           <span class="ico_16 ico_check_16"></span>         
                                            }
 
                                    }
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Tiện để ở
                                        @{
                                            if (Model.TienDeO)
                                            {
                                           <span class="ico_16 ico_check_16"></span>         
                                            }
                                    }
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Tiện làm văn phòng
                                        @{
                                            if (Model.TienLamVanPhong)
                                            {
                                           <span class="ico_16 ico_check_16"></span>         
                                            }
                                    }
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Tiện cho sản xuất
                                        @{
                                            if (Model.TienSanXuat)
                                            {
                                           <span class="ico_16 ico_check_16"></span>         
                                            }
                                    }
                                        </td>
                                    </tr>
                                    <tr class="bg_grey">
                                        <td>Cho sinh viên thuê
                                        @{
                                            if (Model.ChoSinhVienThue)
                                            {
                                           <span class="ico_16 ico_check_16"></span>         
                                            }
                                    }
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    </div>
                </div>
                 <div id="others_posted" class="rounded_style_2 rounded_box margin_bottom">
                        <div class="headline_title_1 rounded_style_5 rounded_box">
                            <h2 class="headline">
                                <span>BẤT ĐỘNG SẢN CÙNG GIÁ</span></h2>
                        </div>
                        <div class="rounded_style_2 rounded_box">
                            <div class="content_inner">
                                <ul class="listing_4">
                                @{
                                    var ListCungGia = ViewBag.CungGia as IEnumerable<BDSBanGap.Models.DBContext.Product>;
                                    foreach (var item in ListCungGia)
                                    {
                                        <li><a href="/Home/Detail/@item.ProductID">
                                            <img src="@item.Images.First().ThumblLink" width="75" height="75" alt="@item.Title" title="@item.Title" /></a>
                                            <div class="right">
                                                <h2>
                                                    <a href="/home/detail/@item.ProductID">@(item.Title.Length > 50 ? item.Title.Substring(0, 50) + "..." : item.Title)</a></h2>
                                                <span class="price">@item.Price Tỷ</span>
                                            </div>
                                        </li>
                                    }
                                        
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    </div>
        </div>
    </div>

	</div>
</div>

