@model IEnumerable<NhaChoThue.Models.DBContext.Consignment>
@{
    ViewBag.Title = "Danh sách nhà ký gởi đã xử lý";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
}
<script src="@Url.Content("~/Scripts/table/jquery.dataTables.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Datatable1').dataTable();
    });
</script>

<div id="content-header">
	<h1>Danh sách nhà gởi đã xử lý</h1>
</div>
<div id="breadcrumb">
	<a href="/home" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> TRANG CHỦ</a>
	<a href="/admin" class="current">QUANG LÝ HỆ THỐNG</a>
</div>

<div class="tbl-Content">
    <div class="title-box">
    </div>
    <!--End title-box-->
    <table id = "Datatable1" class="data display datatable">
        <thead>
            <tr class="menu">
                <th style="width: 30px;">STT
                </th>
                <th style="width: 70px;">Người gởi
                </th>
                <th style="width: 80px; text-align: center;">TT Liên hệ
                </th>
                <th style="width: 70px; text-align: center;">Giá
                </th>
                <th style="width: auto; text-align: left;">Bài đăng
                <th style="width: 60px; text-align: center;">Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="Items">
                    <td style="width: 30px; text-align: center;">@(++count)
                    </td>
                    <td style="width: 70px;font-weight:bold">@item.FullName
                    </td>
                    <td style="width: 80px; text-align: center;"><p>@item.Email</p><p>@item.Phone</p>
                    </td>
                    <td style="width: 70px; text-align: center;">@item.Price tr/th
                    </td>
                    <td style="width: auto; text-align: left;"><a href="/Home/Detail/@item.ProductId/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Product.Title)" target="_blank">@item.Product.Title</a>
                    </td>
                    <td style="width: 60px; text-align: center;">
                        <a href="#" onclick="ConfirmDelete('@item.Id')"><img width="20px" alt="Delete" src="/Content/images/admin/delete-icon.png"/></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="deleteProduct">
    <p>
        bạn có chắc muốn xóa không?
    </p>
</div>
<script type="text/javascript">
    var id;
    function ConfirmDelete(idProd) {
        id = idProd;
        $('.deleteProduct').dialog("option", "title", "Xóa bài đăng").dialog("open");
    }

    $(function () {
        $(".deleteProduct").dialog({
            autoOpen: false, width: 370, height: 160, modal: true,
            buttons: {
                "Xóa": function () {
                    $.ajax({
                        url: '/Consignment/Delete',
                        data: { id: id },
                        type: 'POST',
                        success: function (result) {
                            document.location.reload();
                        }
                    });
                },
                "Hủy": function () { $(this).dialog("close"); }
            }
        });
    });

</script>