@model IEnumerable<NhaChoThue.Models.DBContext.Product>
@{
    var reg = new System.Text.RegularExpressions.Regex(@"<.*?>");
}


<div class="boxSearch">
    <div class="boxHead">
        <h3 class="priority">Nhà ưu tiên</h3>
    </div>
    @foreach (var item in Model)
    {
        <div class="boxBody">
            <p class="title"><a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">Cho thuê nhà đẹp, Hẽm XH Phan Xích Long, Phú Nhuận</a></p>
            <p>
                <a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">
                    @if (item.Images.Count > 0)
                    {
                        <img src="@item.Images.First().ThumblLink" alt="@item.Title"/>
                    }
                    else
                    {
                        <img src="/Content/images/priority-hou.jpg" alt="@item.Title"/>
                    }
                </a>
            </p>
            <p class="detail">
                Rộng: @item.Ngan<br />
                Dài: @item.Dai<br />
                Số tầng : @item.SoLau<br />
                Phòng ngủ : @item.SoPhongNgu
            </p>
            <p class="price">Giá: @(item.Price)tr/Tháng</p>
        </div>
        <!-- / class boxBody -->
    }
</div>