@model VuongMinhQuoc.Models.Product

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript" src="/scripts/ckeditor/ckeditor.js"></script>
<link href="/content/css/ckeditor.css" rel="stylesheet" type="text/css" media="print" />
<div id="page-heading">
    <h1>Tạo Dự Án</h1>
</div>
<table border="0" width="100%" id="content-table">
    <tr>
        <th rowspan="3" class="sized">
            <img src="/Content/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized">
            <img src="/Content/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
    </tr>
    <tr>
        <td id="tbl-border-left"></td>
        <td>
            <!--  start content-table-inner -->
            @Html.BeginForm("Create", "ProductManagement", FormMethod.Post, new { enctype = "multipart/form-data" }){
            
            <div id="content-table-inner">
                <table border="0" width="100%" >
                    <tr>
                        <td>
                            <!-- start id-form -->
                            <table border="0" id="id-form">
                                <tr>
                                    <th>Tên dự án:</th>
                                    <td>@Html.TextBoxFor(model => model.Title, new { @class = "inp-form" })
                                        @Html.ValidationMessageFor(model => model.Title)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Loại dự án:</th>
                                    <td>@Html.DropDownListFor(model => model.TypeId, ViewBag.TypeList as SelectList, new { @class = "styledselect_form_1" })
                                        @Html.ValidationMessageFor(model => model.Year)</td>
                                </tr>
                                <tr>
                                    <th>Chủ đầu tư:</th>
                                    <td>@Html.TextBoxFor(model => model.HostName, new { @class = "inp-form" })
                                        @Html.ValidationMessageFor(model => model.HostName)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Địa chỉ:</th>
                                    <td>@Html.TextBoxFor(model => model.Address, new { @class = "inp-form" })
                                        @Html.ValidationMessageFor(model => model.Address)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Mô tả:</th>
                                    <td colspan="3">@Html.TextAreaFor(model => model.Description, new { @class = "ckeditor" })
                                        @Html.ValidationMessageFor(model => model.Description)</td>
                                </tr>

                                <tr>
                                    <th>Năm:</th>
                                    <td>@Html.TextBoxFor(model => model.Year, new { @class = "inp-form" })
                                        @Html.ValidationMessageFor(model => model.Year)</td>
                                </tr>
                                <tr>
                                    <th>Image 1:</th>
                                    <td>
                                        <input type="file" name="files" class="file_1" />
                                    </td>
                                    <td>Ghi chú:
                                        <input type="text" name="caption1" class="inp-form" />
                                    </td>
                                    <td>
                                        <div class="bubble-left"></div>
                                        <div class="bubble-inner">JPEG, GIF 5MB max per image</div>
                                        <div class="bubble-right"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Hình 2:</th>
                                    <td>
                                        <input type="file" name="files" class="file_1" />

                                    </td>
                                    <td>Ghi chú:
                                        <input type="text" name="caption2" class="inp-form" />
                                    </td>
                                    <td>
                                        <div class="bubble-left"></div>
                                        <div class="bubble-inner">JPEG, GIF 5MB max per Hình</div>
                                        <div class="bubble-right"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Hình 3:</th>
                                    <td>
                                        <input type="file" name="files" class="file_1" />
                                    </td>
                                    <td>Ghi chú:
                                        <input type="text" name="caption3" class="inp-form" />
                                    </td>
                                    <td>
                                        <div class="bubble-left"></div>
                                        <div class="bubble-inner">JPEG, GIF 5MB max per Hình</div>
                                        <div class="bubble-right"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Hình 4:</th>
                                    <td>
                                        <input type="file" name="files" class="file_1" />
                                    </td>
                                    <td>Ghi chú:
                                        <input type="text" name="caption4" class="inp-form" />
                                    </td>
                                    <td>
                                        <div class="bubble-left"></div>
                                        <div class="bubble-inner">JPEG, GIF 5MB max per Hình</div>
                                        <div class="bubble-right"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Hình 5:</th>
                                    <td>
                                        <input type="file" name="files" class="file_1" />
                                    </td>
                                    <td>Ghi chú:
                                        <input type="text" name="caption5" class="inp-form" />
                                    </td>
                                    <td>
                                        <div class="bubble-left"></div>
                                        <div class="bubble-inner">JPEG, GIF 5MB max per Hình</div>
                                        <div class="bubble-right"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Hình 6:</th>
                                    <td>
                                        <input type="file" name="files" class="file_1" />
                                    </td>
                                    <td>Ghi chú:
                                        <input type="text" name="caption6" class="inp-form" />
                                    </td>
                                    <td>
                                        <div class="bubble-left"></div>
                                        <div class="bubble-inner">JPEG, GIF 5MB max per Hình</div>
                                        <div class="bubble-right"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Hình 7:</th>
                                    <td>
                                        <input type="file" name="files" class="file_1" />
                                    </td>
                                    <td>Ghi chú:
                                        <input type="text" name="caption7" class="inp-form" />
                                    </td>
                                    <td>
                                        <div class="bubble-left"></div>
                                        <div class="bubble-inner">JPEG, GIF 5MB max per Hình</div>
                                        <div class="bubble-right"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Hình 8:</th>
                                    <td>
                                        <input type="file" name="files" class="file_1" />
                                    </td>
                                    <td>Ghi chú:
                                        <input type="text" name="caption8" class="inp-form" />
                                    </td>
                                    <td>
                                        <div class="bubble-left"></div>
                                        <div class="bubble-inner">JPEG, GIF 5MB max per Hình</div>
                                        <div class="bubble-right"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Hình 9:</th>
                                    <td>
                                        <input type="file" name="files" class="file_1" />
                                    </td>
                                    <td>Ghi chú:
                                        <input type="text" name="caption9" class="inp-form" />
                                    </td>
                                    <td>
                                        <div class="bubble-left"></div>
                                        <div class="bubble-inner">JPEG, GIF 5MB max per Hình</div>
                                        <div class="bubble-right"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Hình 10:</th>
                                    <td>
                                        <input type="file" name="files" class="file_1" />
                                    </td>
                                    <td>Ghi chú:
                                        <input type="text" name="caption10" class="inp-form" />
                                    </td>
                                    <td>
                                        <div class="bubble-left"></div>
                                        <div class="bubble-inner">JPEG, GIF 5MB max per image</div>
                                        <div class="bubble-right"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>
                                        <input type="submit" value="Tạo" class="btn" />
                                        <input type="reset" value="Hủy" class="btn" />
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                            <!-- end id-form  -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/Content/images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
                        <td></td>
                    </tr>
                </table>
                <div class="clear"></div>
            </div>
            <!--  end content-table-inner  -->
            }
        </td>
        <td id="tbl-border-right"></td>
    </tr>
    <tr>
        <th class="sized bottomleft"></th>
        <td id="tbl-border-bottom">&nbsp;</td>
        <th class="sized bottomright"></th>
    </tr>
</table>
<div class="clear">&nbsp;</div>
