@{
    ViewBag.Title = "Index";
    int count = 1;
}

@model IEnumerable<VuongMinhQuoc.Models.Product>

<table border="0" width="100%" id="content-table">
    <tr>
        <th rowspan="3" class="sized">
            <img src="images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized">
            <img src="images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
    </tr>
    <tr>
        <td id="tbl-border-left"></td>
        <td>
            <!--  start content-table-inner ...................................................................... START -->
            <div id="content-table-inner">

                <!--  start table-content  -->
                <div id="table-content">
                    <!--  start product-table ..................................................................................... -->

                    <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
                        <tr>
                            <th class="table-header-repeat line-left"><a>STT</a></th>
                            <th class="table-header-repeat line-left minwidth-1"><a href="">Tên dự án</a>	</th>
                            <th class="table-header-repeat line-left minwidth-1"><a href="">Chủ đầu tư</a></th>
                            <th class="table-header-repeat line-left"><a href="">Địa chỉ</a></th>
                            <th class="table-header-repeat line-left"><a href="">Năm</a></th>
                            <th class="table-header-repeat line-left"><a href="">Loại CT</a></th>
                            <th class="table-header-options line-left"><a href="">Options</a></th>
                        </tr>
                        <tr>
                            @foreach (var item in Model)
                            {
                           
                                <td>
                                    @(count++)</td>
                                <td>@item.Title</td>
                                <td>@item.HostName</td>
                                <td>@item.Address</td>
                                <td>@item.Year</td>
                                <td>@item.Type.name</td>
                                <td class="options-width">
                                    <a href="/Admin/productManagement/edit/@item.Id" title="Edit" class="icon-1 info-tooltip"></a>
                                    <a href="/Admin/productManagement/delete/@item.Id" title="Delete" class="icon-2 info-tooltip"></a>
                                </td>
                               
                            }
                        </tr>
                    </table>
                    <!--  end product-table................................... -->
                </div>
            </div>
        </td>
    </tr>
</table>
