@model IEnumerable<BDSBanGap.Models.DBContext.Booked>

@{
    ViewBag.Title = "Administrator: DANH SÁCH ĐĂNG KÝ MUA NHÀ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
}
<script src="@Url.Content("~/Scripts/table/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').dataTable();
    });
</script>
<div id="content-header">
	<h1>DANH SÁCH ĐĂNG KÝ MUA NHÀ</h1>
</div>
<div id="breadcrumb">
	<a href="/home" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> TRANG CHỦ</a>
	<a href="/admin" class="current">QUANG LÝ HỆ THỐNG</a>
</div>
    <div class="tbl-Content">
        <div class="title-box">
        </div>
        <!--End title-box-->
        <table id = "example" class="data display datatable">
            <thead>
                <tr class="menu">
                    <th style="width: 20px">STT
                    </th>
                    <th style="width: 100px;">Khách hàng
                    </th>
                     <th style="width: 80px; text-align: center;">Liên hệ
                    </th>
                    <th style="width: 80px; text-align: center;">Giá
                    </th>
                     <th style="width: auto; text-align: center;">Mô tả
                    </th>
                    <th style="width: 30px; text-align: center;">Action
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="Items">
                    <td style="width: 20px; text-align: center;">@(++count)
                    </td>
                    <td style="width: 100px;font-weight:bold"><a href="/Home/Detail/@item.id" target="_blank">@item.FullName</a>
                    </td>
                    <td style="width: 80px; text-align: center;">
                        <p>@item.Phone</p>
                        <p>@item.Email</p>
                    </td>
                    <td style="width: 60px; text-align: center;">
                        <p>@BDSBanGap.Models.Enum.BookedType.GetBookedType(item.Type)</p>
                        <p>@item.MinPrice-@item.MaxPrice tỷ</p>
                    </td>
                    <td style="width: auto; text-align: left;">
                        <p>Quận: @item.Districts</p>
                        @Html.Raw(item.Description)
                    </td>
                    <td style="width: 30px; text-align: center;">
                        <a href="#">
                        <img width="20px" alt="Delete" src="/Content/images/admin/delete-icon.png"/>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>

