@model VuongMinhQuoc.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<script type="text/javascript" src="/scripts/ckeditor/ckeditor.js"></script>
<link href="/content/css/ckeditor.css" rel="stylesheet" type="text/css" media="print" />

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <table border="0" cellpadding="0" cellspacing="0" id="id-form">
        <tr>
            <th valign="top">Tên dự án:</th>
            <td>@Html.TextBoxFor(model => model.Title, new { @class = "inp-form" })
                @Html.ValidationMessageFor(model => model.Title)</td>
            <td></td>
        </tr>
        <tr>
            <th valign="top">Loại dự án:</th>
            <td>@Html.DropDownListFor(model => model.TypeId, ViewBag.TypeList as SelectList, new { @class = "styledselect_form_1" })
                @Html.ValidationMessageFor(model => model.Year)</td>
        </tr>
        <tr>
            <th valign="top">Chủ đầu tư:</th>
            <td>@Html.TextBoxFor(model => model.HostName, new { @class = "inp-form" })
                @Html.ValidationMessageFor(model => model.HostName)</td>
            <td></td>
        </tr>
        <tr>
            <th valign="top">Địa chỉ:</th>
            <td>@Html.TextBoxFor(model => model.Address, new { @class = "inp-form" })
                @Html.ValidationMessageFor(model => model.Address)</td>
            <td></td>
        </tr>
        <tr>
            <th valign="top">Mô tả:</th>
            <td colspan="3">@Html.TextAreaFor(model => model.Description, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Description)</td>
        </tr>

        <tr>
            <th valign="top">Năm:</th>
            <td>@Html.TextBoxFor(model => model.Year, new { @class = "inp-form" })
                @Html.ValidationMessageFor(model => model.Year)</td>
        </tr>
        <tr>
            <td colspan="4">
            @foreach (var item in Model.Imanges)
            {
                
                    <img src="@item.ThumbLink" />
                
            }
             </td>
        </tr>
        <tr>
            <th>Image 1:</th>
            <td>
                <input type="file" name="files" class="file_1" />
            </td>
            <td>Ghi chú:
                                        <input type="text" name="caption1" />
            </td>
            <td>
                <div class="bubble-left"></div>
                <div class="bubble-inner">JPEG, GIF 5MB max per image</div>
                <div class="bubble-right"></div>
            </td>
        </tr>
        <tr>
            <th>Image 2:</th>
            <td>
                <input type="file" name="files" class="file_1" />

            </td>
            <td>Ghi chú:
                                        <input type="text" name="caption2" />
            </td>
            <td>
                <div class="bubble-left"></div>
                <div class="bubble-inner">JPEG, GIF 5MB max per image</div>
                <div class="bubble-right"></div>
            </td>
        </tr>
        <tr>
            <th>Image 3:</th>
            <td>
                <input type="file" name="files" class="file_1" />
            </td>
            <td>Ghi chú:
                                        <input type="text" name="caption3" />
            </td>
            <td>
                <div class="bubble-left"></div>
                <div class="bubble-inner">JPEG, GIF 5MB max per image</div>
                <div class="bubble-right"></div>
            </td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td valign="top">
                <input type="submit" value="" class="form-submit" />
            </td>
            <td></td>
        </tr>
    </table>
    <!-- end id-form  -->  
}
