@model VuongMinhQuoc.Models.Product

@{
    ViewBag.Title = "Delete";
}
<script type="text/javascript" src="/scripts/ckeditor/ckeditor.js"></script>
<link href="/content/css/ckeditor.css" rel="stylesheet" type="text/css" media="print" />
<div id="page-heading">
    <h2>Xóa Dự Án</h2>
</div>
<table border="0" width="100%" id="content-table">
    <tr>
        <th rowspan="3" class="sized">
            <img src="~/Content/images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
        <th class="topleft"></th>
        <td id="tbl-border-top">&nbsp;</td>
        <th class="topright"></th>
        <th rowspan="3" class="sized">
            <img src="~/Content/images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
    </tr>
    <tr>
        <td id="tbl-border-left"></td>
        <td>
            <!--  start content-table-inner -->
            <div id="content-table-inner">
                <table border="0" id="id-form">
                    <tr>
                        <th>Tên dự án:</th>
                        <td>@Html.TextBoxFor(model => model.Title, new { @class = "inp-form" })
                        <td></td>
                    </tr>
                    <tr>
                        <th>Loại dự án:</th>
                        <td>@Html.TextBoxFor(model => model.TypeId, new { @class = "inp-form" })</td>
                    </tr>
                    <tr>
                        <th>Chủ đầu tư:</th>
                        <td>@Html.TextBoxFor(model => model.HostName, new { @class = "inp-form" })
                        <td></td>
                    </tr>
                    <tr>
                        <th>Địa chỉ:</th>
                        <td>@Html.TextBoxFor(model => model.Address, new { @class = "inp-form" })
                        <td></td>
                    </tr>
                    <tr>
                        <th>Mô tả:</th>
                        <td colspan="3">
                        @Html.TextAreaFor(model => model.Description, new { @class = "ckeditor" })

                    <tr>
                        <th>Năm:</th>
                        <td>@Html.TextBoxFor(model => model.Year, new { @class = "inp-form" })
                    </tr>
                    <tr>
                        <td colspan="4">
                            @foreach (var item in Model.Imanges)
                            {
                
                                <img src="@item.ThumbLink" />
                
                            }
                        </td>
                    </tr>
                    <tr>
                        @using (Html.BeginForm())
                        {
                            <tr>
                                <th>&nbsp;</th>
                                <td>
                                    <input type="submit" value="Xóa" class="btn" />
                                     @Html.ActionLink("Quay lại trang trước", "Index")
                                </td>
                            </tr>
                        }
                    </tr>
                </table>
                <div class="clear"></div>
            </div>
            <!--  end content-table-inner  -->

        </td>
        <td id="tbl-border-right"></td>
    </tr>
    <tr>
        <th class="sized bottomleft"></th>
        <td id="tbl-border-bottom">&nbsp;</td>
        <th class="sized bottomright"></th>
    </tr>
</table>
<div class="clear">&nbsp;</div>
