@model NhaChoThue.Models.DBContext.Consignment

@{
    ViewBag.Title = "Ký gởi nhà cho thuê";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<style type="text/css">
    div#gNav ul li#consignment {
        background: url(/Content/common/images/bg_gnav_o.jpg) top left repeat-x !important;
    }
</style>
    @Html.ValidationSummary(true)
        <div id="content" class="reset"> 
            <div class="introduction">   
              <h2 class="bHead">Ký gởi nhà</h2>
              <p>Bạn có nhà, bât động sản cần cho thuê và muốn tìm được khách hàng (người thuê nhà) nhanh nhất để mau chóng thu lại lợi nhuận một cách nhanh nhất!</p>
              <p>Hãy gởi thông tin bất động sản của bạn đến với chúng tôi cùng với thông tin liên hệ. Chúng tôi sẽ mau chóng tìm khách hàng cho bạn. Chúng tôi đảm bảo với các công nghệ, kỹ thuật mà chúng tôi có sẽ mau chóng tìm được khách hàng cho bạn với giá cả hợp lý nhất!</p>
              <form method="post" class="form-horizontal reset">
                     <div class="control-group">
                        <label class="control-label reset">Tên đầy đủ:</label>
                        <div class="controls">
                        	 @Html.EditorFor(model => model.FullName)
                             @Html.ValidationMessageFor(model => model.FullName)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label reset">Số điện thoại:</label>
                        <div class="controls">
                        	@Html.TextBoxFor(model => model.Phone)
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label reset" for="inputEmail">Email:</label>
                        <div class="controls">
                        	@Html.TextBoxFor(model => model.Email, new { type="email"})
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label reset">Địa chỉ:</label>
                        <div class="controls">
                        	 @Html.EditorFor(model => model.Address)
                             @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label reset">Giá mong muốn:</label>
                        <div class="controls">
                        	@Html.TextBoxFor(model => model.Price)<label class="control-label last" style="display:inline">triệu/Tháng</label>
                            @Html.ValidationMessageFor(model => model.Price)                            
                        </div>                        
                    </div>
                    <div class="control-group">
                        <label class="control-label reset">Mô tả chi tiết:</label>
                        <div class="controls">
                            @Html.TextAreaFor(model => model.Description, new {row="5"})
                            @Html.ValidationMessageFor(model => model.Description)                        	
                        </div>                       
                    </div>
                    <input type="submit" class="btn" value="Ký gởi nhà" />                  
                </form>
        	</div>                  
      </div><!-- / id content -->
