@model BDSBanGap.Models.DBContext.Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";   
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

<div id="content-header">
				<h1>TẠO NHÀ BÁN MỚI</h1>
			</div>
			<div id="breadcrumb">
				<a href="/home" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> TRANG CHỦ</a>
				<a href="/admin" class="current">QUANG LÝ HỆ THỐNG</a>
			</div>

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
        <table>
            <tr>
                <td>
                        Tiêu đề
                </td>
                <td>
                    <div class="editor-field" style="width:80%;">
                        @Html.TextBoxFor(model => model.Title, new { style = "width:550px;", maxlength = "100" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                        Giá
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Price, new { style = "text-align:right;"}) Tỷ
                        @Html.ValidationMessageFor(model => model.Price)
                    </div>
                </td>
            </tr>
        </table>
        <div id="breadcrumb">
            Số đo
        </div>
        <div class="KhuVuc-SoDo">
            <table>
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                            Ngan Trước
                        </th>
                        <th>
                            Ngan Sau
                        </th>
                        <th>
                            Dài
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Khuông viên
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.KVNgangTruoc)
                                @Html.ValidationMessageFor(model => model.KVNgangTruoc)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.KVNgangSau)
                                @Html.ValidationMessageFor(model => model.KVNgangSau)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.KVDai)
                                @Html.ValidationMessageFor(model => model.KVDai)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Công Nhận
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.CNNgangTruoc)
                                @Html.ValidationMessageFor(model => model.CNNgangTruoc)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.CNNgangSau)
                                @Html.ValidationMessageFor(model => model.CNNgangSau)
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.CNDai)
                                @Html.ValidationMessageFor(model => model.CNDai)
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table style="width:100%;">
           
                    <tr>
                            <td>
                                Tổng diện tích sử dụng
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DienTichSuDung)
                                    @Html.ValidationMessageFor(model => model.DienTichSuDung)
                                </div>
                            </td>
                            <td>
                                Đầy đủ tiện nghi
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(model => model.DayDuTienNghi)
                                    @Html.ValidationMessageFor(model => model.DayDuTienNghi)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Loại Địa ốc
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.LoaiDiaOc, ViewBag.LoaiDiaOc as SelectList)
                                    @Html.ValidationMessageFor(model => model.LoaiDiaOc)
                                </div>
                            </td>
                            <td>
                                Chỗ đậu xe hơi
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(model => model.ChoDauXeHoi)
                                    @Html.ValidationMessageFor(model => model.ChoDauXeHoi)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tình trạng pháp lý
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.TinhTrangPhapLy, ViewBag.Phaply as SelectList)
                                    @Html.ValidationMessageFor(model => model.TinhTrangPhapLy)
                                </div>
                            </td>
                            <td>
                                Sân vườn
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(model => model.SanVuon)
                                    @Html.ValidationMessageFor(model => model.SanVuon)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Hướng
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.Huong, ViewBag.Huong as SelectList)
                                    @Html.ValidationMessageFor(model => model.Huong)
                                </div>
                            </td>
                            <td>
                                Hồ bơi
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(model => model.HoBoi)
                                    @Html.ValidationMessageFor(model => model.HoBoi)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Vị trí địa ốc
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.ViTriDiaOc, ViewBag.VitriDiaOc as SelectList)
                                    @Html.ValidationMessageFor(model => model.ViTriDiaOc)
                                </div>
                            </td>
                            <td>
                                Tiện kinh doanh
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(model => model.TienKinhDoanh)
                                    @Html.ValidationMessageFor(model => model.TienKinhDoanh)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Đường trước nhà
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.DuongTruocNha)
                                    @Html.ValidationMessageFor(model => model.DuongTruocNha)
                                </div>
                            </td>
                            <td>
                                Tiện để ở
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(model => model.TienDeO)
                                    @Html.ValidationMessageFor(model => model.TienDeO)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Số lầu
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.SoLau)
                                    @Html.ValidationMessageFor(model => model.SoLau)
                                </div>
                            </td>
                            <td>
                                Tiện làm văn phòng
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(model => model.TienLamVanPhong)
                                    @Html.ValidationMessageFor(model => model.TienLamVanPhong)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Số phòng ngủ
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.SoPhongNgu)
                                    @Html.ValidationMessageFor(model => model.SoPhongNgu)
                                </div>
                            </td>
                            <td>
                                Tiện sản xuất
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(model => model.TienSanXuat)
                                    @Html.ValidationMessageFor(model => model.TienSanXuat)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Số phòng tắm
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.SoPhongTam)
                                    @Html.ValidationMessageFor(model => model.SoPhongTam)
                                </div>
                            </td>
                            <td>
                                Cho sinh viên thuê
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(model => model.ChoSinhVienThue)
                                    @Html.ValidationMessageFor(model => model.ChoSinhVienThue)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Số phòng khác
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.SoPhongKhac)
                                    @Html.ValidationMessageFor(model => model.SoPhongKhac)
                                </div>
                            </td>
                            <td>
                                Liên hệ
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownListFor(S=>S.ContactId,ViewBag.Contact as SelectList)
                                    @Html.ValidationMessageFor(model => model.ContactId)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>
                                Quận
                            </td>
                            <td>
                                <div class="editor-field">
                                    @Html.DropDownList("District", ViewBag.District as SelectList)
                                </div>
                            </td>
                            <td>
                                Phường
                            </td>
                            <td>
                                <div class="editor-field">
                                    <div id="Ward-Area">
                                        @Html.DropDownList("WardID")
                                    </div>
                                    @Html.ValidationMessageFor(model => model.WardID)
                                </div>
                            </td>
                        </tr>

        </table>
        <div id="breadcrumb">
            Mô tả
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    <div id="breadcrumb"> Hình ảnh</div>
        <fieldset>
        <table style="width:100%;">
            <tr>
                <td>
                    <input type="file" name="files" id="file1" />
                </td>
                <td>
                    Ghi chú: <input name="caption1" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file2" />
                </td>
                <td>
                    Ghi chú: <input name="caption2" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file3" />
                </td>
                <td>
                    Ghi chú: <input name="caption3" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file4" />
                </td>
                <td>
                    Ghi chú: <input name="caption4" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file5" />
                </td>
                <td>
                    Ghi chú: <input name="caption5" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file6" />
                </td>
                <td>
                    Ghi chú: <input name="caption6" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file7" />
                </td>
                <td>
                    Ghi chú: <input name="caption7" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file8" />
                </td>
                <td>
                    Ghi chú: <input name="caption8" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file9" />
                </td>
                <td>
                    Ghi chú: <input name="caption9" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file10" />
                </td>
                <td>
                    Ghi chú: <input name="caption10" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file11" />
                </td>
                <td>
                    Ghi chú: <input name="caption11" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file12" />
                </td>
                <td>
                    Ghi chú: <input name="caption12" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file13" />
                </td>
                <td>
                    Ghi chú: <input name="caption13" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file14" />
                </td>
                <td>
                    Ghi chú: <input name="caption14" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="file" name="files" id="file15" />
                </td>
                <td>
                    Ghi chú: <input name="caption15" type="text" style="border:1px solid " size = 50/>
                </td>
            </tr>
        </table>
    </fieldset>
        <p>
            <input type="submit" value="Create" />
        </p>
}
<script type="text/javascript">
    CKEDITOR.replace('Description', {
        toolbar: 'Basic',
        uiColor: '#9AB8F3'
    });
    $(document).ready(function () {

        // whenever the selection changes, either disable or enable the
        // option in the other selects
        $('#District').change(function () {
            $.ajax({
                url: '/Product/GetWardOnChange',
                type: 'POST',
                data: { district: $('#District').val() },
                success: function (result) {
                    $('#Ward-Area').html('');
                    $('#Ward-Area').html(result);
                }
            });
            // then either disabled or enable them in the second loop:
        });
    });
</script>
