@model IEnumerable<BDSBanGap.Models.DBContext.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
}
<script src="../../Scripts/table/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Datatable').dataTable();
    });
</script>
    <div class="tbl-transaction">
        <div class="title-box">
        </div>
        <!--End title-box-->
        <table id = "Datatable" class="data display datatable">
            <thead>
                <tr class="menu">
                    <th style="width: auto;">STT
                    </th>
                    <th style="width: auto;">Tiêu đề
                    </th>
                    <th style="width: 60px; text-align: center;">Giá
                    </th>
                    <th style="width: 80px; text-align: center;">Phường,Quận
                    </th>
                    <th style="width: 70px; text-align: center;">Loại Địa Ốc
                    </th>
                    <th style="width: 80px; text-align: center;">Vị trí
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="Items">
                    <td style="width: 60px; text-align: center;">@(++count)
                    </td>
                    <td style="width: auto;font-weight:bold"><a href="/Product/Deatil/@item.ProductID">@item.Title</a>
                    </td>
                    <td style="width: 80px; text-align: center;">@item.Price Tỷ
                    </td>
                    <td style="width: 120px; text-align: center;">@item.Ward.WardName, @item.Ward.District.DistrictName 
                    </td>
                    <td style="width: 100px; text-align: center;">@BDSBanGap.Models.Enum.LoaiDiaOc.GetLoaiDiaOc(@item.LoaiDiaOc)
                    </td>
                    <td style="width: 160px; text-align: center;">@BDSBanGap.Models.Enum.ViTriDiaOc.GetViTriDiaOc(@item.ViTriDiaOc)
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>

