@model BDSBanGap.Models.SoldModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<link href="/Content/styles/dhtmlxcalendar_dhx_skyblue.css" rel="stylesheet"
    type="text/css" />
<link href="/Content/styles/dhtmlxcalendar.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/dhtmlxcalendar.js" type="text/javascript"></script>
<script type="text/javascript">
    var myCalendar;
    $(document).ready(function () {
        myCalendar = new dhtmlXCalendarObject(["soldeDate"]);
        myCalendar.hideTime();
        var t = new Date();
        t.setDate(t.getDate() + 1);
        byId("soldeDate").value = myCalendar.getFormatedDate(null, t);
    });
    function setSens(id, k) {
        if (k == "min") {
            var t = new Date();
            t.setDate(t.getDate() + 1);
            myCalendar.setSensitiveRange(t, null);
        } else {
            myCalendar.setSensitiveRange(null, byId(id).value);
        }
    }
    function byId(id) {
        return document.getElementById(id);
    }
</script>
@using (Html.BeginForm("","",FormMethod.Post,new {id="sold-Form"})) {
    @Html.ValidationSummary(true)
    <fieldset>
        <table>

                @Html.HiddenFor(model => model.ProductID)
        <tr>
            <td>Ngày bán
            </td>
            <td>@Html.EditorFor(model => model.soldeDate)
            @Html.ValidationMessageFor(model => model.soldeDate)
            </td>
        </tr>

        <tr>
            <td>Giá bán
            </td>
            <td>@Html.EditorFor(model => model.soldPrice)
            @Html.ValidationMessageFor(model => model.soldPrice)
            </td>
        </tr>
        </table>
        
        
    </fieldset>
}