@model BDSBanGap.Models.DBContext.Booked

<fieldset>
    <legend>Booked</legend>

    <div class="display-label">FullName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FullName)
    </div>

    <div class="display-label">Phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">MinPrice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinPrice)
    </div>

    <div class="display-label">MaxPrice</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxPrice)
    </div>

    <div class="display-label">IsSolved</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsSolved)
    </div>

    <div class="display-label">Districts</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Districts)
    </div>
</fieldset>
