@model IEnumerable<NhaChoThue.Models.DBContext.Product>

@{
    ViewBag.Title = "ListPriorityProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
}
<script src="@Url.Content("~/Scripts/table/jquery.dataTables.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Datatable1').dataTable();
    });
</script>

<div id="content-header">
	<h1>DANH SÁCH ƯU TIÊN</h1>
</div>
<div id="breadcrumb">
	<a href="/home" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> TRANG CHỦ</a>
	<a href="/admin" class="current">QUANG LÝ HỆ THỐNG</a>
</div>

<div class="tbl-Content">
    <div class="title-box">
    </div>
    <!--End title-box-->
    <table id = "Datatable1" class="data display datatable">
        <thead>
            <tr class="menu">
                <th style="width: 30px;">STT
                </th>
                <th style="width: auto;">Tiêu đề
                </th>
                <th style="width: 50px; text-align: center;">Giá
                </th>
                <th style="width: 150px; text-align: center;">Phường, Quận
                </th>
                <th style="width: 70px; text-align: center;">Bắt đầu
                </th>
                <th style="width: 70px; text-align: center;">Kết thúc
                </th>
                <th style="width: 80px; text-align: center;">Tình trạng
                </th>
                <th style="width: 80px; text-align: center;">Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="Items">
                    <td style="width: 30px; text-align: center;">@(++count)
                    </td>
                    <td style="width: auto;font-weight:bold"><a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">@item.Title</a>
                    </td>
                    <td style="width: 50px; text-align: center;">@item.Price tr/tháng
                    </td>
                    <td style="width: 150px; text-align: center;">@item.Ward.WardName, @item.Ward.District.DistrictName
                    </td>
                    <td style="width: 70px; text-align: center;">@(item.CurrentPriority().StarDate.HasValue? item.CurrentPriority().StarDate.Value.ToShortDateString():"N/A")
                    </td>
                    <td style="width: 70px; text-align: center;">@(item.CurrentPriority().EndDate.HasValue? item.CurrentPriority().EndDate.Value.ToShortDateString():"N/A")
                    </td>
                    <td style="width: 80px; text-align: center;">@(item.IsActive? "Áp dụng":"")
                    </td>
                    <td style="width: 80px; text-align: center;"><a href="javascript:void(0)" onclick="removePrioriry('@item.CurrentPriority().PriorityProductID')"><img width="20px" alt="Bỏ ưu tiên" src="/Content/images/admin/heart-broken_icon.png"/></a> | <a id="confirmDeleteProd" style="cursor: pointer" onclick="ConfirmDelete('@item.ProductID')"><img width="20px" alt="Delete" src="/Content/images/admin/delete-icon.png"/></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="deleteProduct">
    <p>
        Bạn có muốn xóa bài đăng này không?
    </p>
</div>
<div id="xoa-uutien"><p>
        Bạn có muốn bỏ ưu tiên của sản phẩm không?
    </p></div>
@*script delete product*@
<script type="text/javascript">
    var id;
    function ConfirmDelete(idProd) {
        id = idProd;
        $('.deleteProduct').dialog("option", "title", "Xóa bài đăng").dialog("open");
    }

    $(function () {
        $(".deleteProduct").dialog({
            autoOpen: false, width: 370, height: 160, modal: true,
            buttons: {
                "Xóa": function () {
                    $.ajax({
                        url: '/Product/Delete',
                        data: { id: id, page: "ListPriorityProduct" },
                        type: 'POST',
                        success: function (result) {
                            document.location.reload();
                        }
                    });
                },
                "Hủy": function () { $(this).dialog("close"); }
            }
        });
    });

    function removePrioriry(idProd) {
        id = idProd;
        $('#xoa-uutien').dialog("option", "title", "Xóa ưu tiên").dialog("open");
    }

    $(function () {
        $("#xoa-uutien").dialog({
            autoOpen: false, width: 370, height: 160, modal: true,
            buttons: {
                "Xóa": function () {
                    $.ajax({
                        url: '/Product/RemovePriority',
                        data: { id: id},
                        type: 'POST',
                        success: function (result) {
                            document.location.reload();
                        }
                    });
                },
                "Hủy": function () { $(this).dialog("close"); }
            }
        });
    });
   
</script>
