@model BDSBanGap.Models.DBContext.ProductImage
@using (Html.BeginForm("ReplaceEmage", "product", FormMethod.Post, new { id = "Replace-Form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(s=>s.ProductImageID)
    <div class="image-thumb" style="width:100%;position:relative;float:left;">
    <img src="@Model.ThumblLink" style="position:relative;float:left" alt="@Model.Caption"/>
    <div class="image-caption" style="position:relative;float:left;padding:7px;">@Model.Caption</div>
    </div>
    <div class="new-image" style="width:100%;position:relative;float:left;">
    <table style="width:100%;position:relative;float:left;">
        <tr>
            <td style="text-align:right;">
            Hình mới: 
            </td>
            <td>
            <input type="file" name="file" id="file" />
            </td>
        </tr>
        <tr>
            <td style="text-align:right;">
            Mô tả:
            </td>
            <td>
            <input name="caption" type="text" style="border:1px solid " size = 50/>
            </td>
        </tr>
    </table>
    <center><input type="submit" value="Lưu" style="width:60px"/></center>
    </div>
}
<script type="text/javascript">
    function closeReplace() {
        $('#image-replace').dialog('close');
    }
</script>