@model BDSBanGap.Models.DBContext.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Product</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Titile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Titile)
            @Html.ValidationMessageFor(model => model.Titile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsSold)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsSold)
            @Html.ValidationMessageFor(model => model.IsSold)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KVNgangTruoc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KVNgangTruoc)
            @Html.ValidationMessageFor(model => model.KVNgangTruoc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KVNgangSau)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KVNgangSau)
            @Html.ValidationMessageFor(model => model.KVNgangSau)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KVDai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KVDai)
            @Html.ValidationMessageFor(model => model.KVDai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CNNgangTruoc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CNNgangTruoc)
            @Html.ValidationMessageFor(model => model.CNNgangTruoc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CNNgangSau)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CNNgangSau)
            @Html.ValidationMessageFor(model => model.CNNgangSau)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CNDai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CNDai)
            @Html.ValidationMessageFor(model => model.CNDai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XDNgangTruoc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XDNgangTruoc)
            @Html.ValidationMessageFor(model => model.XDNgangTruoc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XDNgangSau)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XDNgangSau)
            @Html.ValidationMessageFor(model => model.XDNgangSau)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XDDai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XDDai)
            @Html.ValidationMessageFor(model => model.XDDai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoaiDiaOc)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LoaiDiaOc, ViewBag.LoaiDiaOc as SelectList)
            @Html.ValidationMessageFor(model => model.LoaiDiaOc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TinhTrangPhapLy)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TinhTrangPhapLy, ViewBag.Phaply as SelectList)
            @Html.ValidationMessageFor(model => model.TinhTrangPhapLy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Huong)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Huong, ViewBag.Huong as SelectList)
            @Html.ValidationMessageFor(model => model.Huong)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DuongTruocNha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DuongTruocNha)
            @Html.ValidationMessageFor(model => model.DuongTruocNha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ViTriDiaOc)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ViTriDiaOc, ViewBag.VitriDiaOc as SelectList)
            @Html.ValidationMessageFor(model => model.ViTriDiaOc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoLau)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLau)
            @Html.ValidationMessageFor(model => model.SoLau)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoPhongKhach)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoPhongKhach)
            @Html.ValidationMessageFor(model => model.SoPhongKhach)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoPhongNgu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoPhongNgu)
            @Html.ValidationMessageFor(model => model.SoPhongNgu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoPhongTam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoPhongTam)
            @Html.ValidationMessageFor(model => model.SoPhongTam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoPhongKhac)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoPhongKhac)
            @Html.ValidationMessageFor(model => model.SoPhongKhac)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DayDuTienNghi)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.DayDuTienNghi)
            @Html.ValidationMessageFor(model => model.DayDuTienNghi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChoDauXeHoi)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.ChoDauXeHoi)
            @Html.ValidationMessageFor(model => model.ChoDauXeHoi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SanVuon)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.SanVuon)
            @Html.ValidationMessageFor(model => model.SanVuon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoBoi)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.HoBoi)
            @Html.ValidationMessageFor(model => model.HoBoi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TienKinhDoanh)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.TienKinhDoanh)
            @Html.ValidationMessageFor(model => model.TienKinhDoanh)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(model => model.TienDeO)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.TienDeO)
            @Html.ValidationMessageFor(model => model.TienDeO)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TienLamVanPhong)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.TienLamVanPhong)
            @Html.ValidationMessageFor(model => model.TienLamVanPhong)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TienSanXuat)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.TienSanXuat)
            @Html.ValidationMessageFor(model => model.TienSanXuat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChoSinhVienThue)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.ChoSinhVienThue)
            @Html.ValidationMessageFor(model => model.ChoSinhVienThue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactId, "Contact")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ContactId", String.Empty)
            @Html.ValidationMessageFor(model => model.ContactId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WardID, "Ward")
        </div>
        <div class="editor-field">
            @Html.DropDownList("WardID", String.Empty)
            @Html.ValidationMessageFor(model => model.WardID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
