@model IEnumerable<BDSBanGap.Models.DBContext.Product>

@{
    ViewBag.Title = "SoldProducts";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
}

<script src="@Url.Content("~/Scripts/table/jquery.dataTables.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').dataTable();
    });
</script>

<div id="content-header">
	<h1>DANH SÁCH NHÀ ĐÃ BÁN</h1>
</div>
<div id="breadcrumb">
	<a href="/home" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> TRANG CHỦ</a>
	<a href="/admin" class="current">QUANG LÝ HỆ THỐNG</a>
</div>

  <div class="tbl-Content">
        <div class="title-box">
        </div>
        <!--End title-box-->
        <table id = "example" class="data display datatable">
            <thead>
                <tr class="menu">
                    <th style="width: 30px;">STT
                    </th>
                    <th style="width: auto;">Tiêu đề
                    </th>
                    <th style="width: 70px; text-align: center;">Ngày Bán
                    </th>
                    <th style="width: 60px; text-align: center;">Giá bán
                    </th>
                    <th style="width: 60px; text-align: center;">Giá Rao
                    </th>
                    <th style="width: 120px; text-align: center;">Phường,Quận
                    </th>
                    <th style="width: 80px; text-align: center;">Loại Đ.Ốc
                    </th>
                    <th style="width: 60px; text-align: center;">Vị trí
                    </th>
                    <th style="width: 60px; text-align: center;">Action
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="Items">
                    <td style="width: 30px; text-align: center;">@(++count)
                    </td>
                    <td style="width: auto;font-weight:bold"><a href="/Product/Details/@item.ProductID">@item.Title</a>
                    </td>
                    <td style="width: 70px; text-align: center;">@item.SoldDate.Value.ToShortDateString()
                    </td>
                    <td style="width: 60px; text-align: center;">@item.SoldPrice Tỷ
                    </td>
                    <td style="width: 60px; text-align: center;">@item.Price Tỷ
                    </td>
                    <td style="width: 120px; text-align: center;">@item.Ward.WardName, @item.Ward.District.DistrictName 
                    </td>
                    <td style="width: 80px; text-align: center;">@BDSBanGap.Models.Enum.LoaiDiaOc.GetLoaiDiaOc(@item.LoaiDiaOc)
                    </td>
                    <td style="width: 60px; text-align: center;">@BDSBanGap.Models.Enum.ViTriDiaOc.GetViTriDiaOc(@item.ViTriDiaOc)
                    </td>
                    <td style="width: 60px; text-align: center;"><a>Detail</a> | <a>Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
