@model BDSBanGap.Models.DBContext.Contact

@{
    ViewBag.Title = "TẠO LIÊN HỆ MỚI";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="content-header">
	<h1>TẠO LIÊN HỆ MỚI</h1>
</div>
<div id="breadcrumb">
	<a href="/home" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> TRANG CHỦ</a>
	<a href="/admin" class="current">QUANG LÝ HỆ THỐNG</a>
</div>
<br />
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            Họ tên
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <div class="editor-label">
            Số ĐT
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            Email
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            Địa chỉ
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        <p>
            <input type="submit" value="Lưu lại" />
        </p>
    </fieldset>
}

