<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" href="/Content/images/BDS-icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/Content/images/BDS-icon.ico" type="image/x-icon">
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Title" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="@Url.Content("~/Content/common/css/import.css")" rel="stylesheet" type="text/css" media="screen,print" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" media="screen,print" />
    <link href="@Url.Content("~/Content/common/css/print.css")" rel="stylesheet" type="text/css" media="print" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/common/css/bootstrap.min.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/common/jsImgSlider/js-image-slider.css")"/>
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="Stylesheet" type="text/css" />
    <script src="/Content/common/js/jquery-1.8.2.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
</head>



<body>
    <div id="layout">
        <div id="header">
            <h1 id="logo"><a href="/">
                <img src="/Content/common/images/logo.jpg" alt="BDSChoThue Thuê nhà ưng ý, Giá cả hợp lý" /></a></h1>
            <div class="banner">
                <p>
                    <img src="/Content/common/images/banner.jpg" alt="Cho thuê nhà, Cho thuê bất động sản quận bình thạnh, Q3, Phú Nhuận, Q1..." /></p>
            </div>
        </div>
        <!-- / id header -->
        <div id="gNav">
            <ul>
                <li id="home"><a href="/">Trang chủ</a></li>
                <li id="search"><a href="/Home/Search">Tìm kiếm</a></li>
                <li id="consignment"><a href="/Home/Consignment">Ký gởi nhà</a></li>
                <li id="about"><a href="/Home/About">Giới thiệu</a></li>
            </ul>
        </div>
        <!-- / id gNav -->
        <div id="pageBody">
            @RenderBody()
            <div id="sidebar">
                @Html.Partial("SearchPanel", new NhaChoThue.Models.SearchModel())
                @Html.Partial("NhaUuTien", ViewBag.NhaUuTien as IEnumerable<NhaChoThue.Models.DBContext.Product>)
                <!-- end .house-priority -->
            </div>
        </div>
        <div id="fotter">
            <div class="contact">
                <p>
                    <img src="/Content/common/images/logo.jpg" alt="BDSChoThue Thuê nhà ưng ý, Giá cả hợp lý" /></p>
                <p>
                    <strong>Adress:</strong> 14 Hoa Sứ - Phường 2 - Quận Phú Nhuận - Hồ Chí Minh<br />
                    <strong>Hotline:</strong> 0938.500.866 (Mr. Toàn)<br />
                    <strong>Email:</strong> minhtoan@bdschothue.net
                </p>
            </div>
            <p id="copyright">Copyright &copy;<a href="http://minhsong.net">Minh Song</a> Group.</p>
        </div>
        <!-- / id fotter -->
    </div>
    <!-- /id /layout -->
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38163634-3']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>
