@model IEnumerable<BDSBanGap.Models.DBContext.Contact>

@{
    ViewBag.Title = "ListContacts";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
}
<script src="@Url.Content("~/Scripts/table/jquery.dataTables.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Datatable1').dataTable();
    });
</script>
<div id="content-header">
				<h1>DANH SÁCH LIÊN HỆ</h1>
			</div>
			<div id="breadcrumb">
				<a href="/home" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> TRANG CHỦ</a>
				<a href="/admin" class="current">QUANG LÝ HỆ THỐNG</a>
			</div>
<div class="tbl-Content">
        <div class="title-box">
        </div>
        <!--End title-box-->
        <table id = "Datatable1" class="data display datatable">
            <thead>
                <tr class="menu">
                    <th style="width: auto;">STT
                    </th>
                    <th style="width: auto;">Họ tên
                    </th>
                    <th style="width: 60px; text-align: center;">Số ĐT
                    </th>
                    <th style="width: 80px; text-align: center;">Email
                    </th>
                    <th style="width: 120px; text-align: center;">Địa chỉ
                    </th>
                    <th style="width: 160px; text-align: center;">Action
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="Items">
                    <td style="width: 60px; text-align: center;">@(++count)
                    </td>
                    <td style="width: auto;font-weight:bold">@item.FullName
                    </td>
                    <td style="width: 80px; text-align: center;">@item.Phone
                    </td>
                    <td style="width: 120px; text-align: center;">@item.Email
                    </td>
                    <td style="width: 200px; text-align: center;">@item.Address
                    </td>
                    <td style="width: 160px; text-align: center;"><a href="javascript:void(0)" onclick="ShowEditForm('@item.ContactID')"><img width="20px" alt="Bỏ ưu tiên" src="../../Content/images/admin/Edit_icon.png" /></a> | <a><img width="20px" alt="Bỏ ưu tiên" src="../../Content/images/admin/delete-icon.png" /></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
     <div id="popup-contact"></div>
       <script type="text/javascript">
           $(function () {
               $("#popup-contact").dialog({
                   autoOpen: false, width: 400, height: 280, modal: true,
                   buttons: {
                       "Lưu": function () {
                           $.ajax({
                               url: '/MasterData/EditContact',
                               data: $("#Form").serialize(),
                               type: 'POST',
                               success: function (result) {
                                   document.location.reload();
                               }
                           });
                       },
                       "Hủy": function () { $(this).dialog("close"); }
                   }
               });
           });
           function ShowEditForm(idin) {
               $.ajax({
                   url: '/MasterData/EditContact',
                   data: { id: idin },
                   type: 'GET',
                   success: function (result) {
                       $('#popup-contact').html(result);
                       $('#popup-contact').dialog("option", "title", "Cập nhập thông tin Liên hệ").dialog("open");
                   }
               });
           }
   </script>