<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" href="/Content/images/BDS-icon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/Content/images/BDS-icon.ico" type="image/x-icon">
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Title" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="Stylesheet" type="text/css" />
    <link href="../../Content/styles/home.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/styles/menu.css" rel="stylesheet" type="text/css" />
</head>

    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
@*<script src="../../Scripts/menu.js" type="text/javascript"></script>*@

    <body>
        <div id="header">
	<div class="site-width margin-auto" style="padding-top:20px;">
		<a href=""><img src="../../Content/images/BDS_logo.png" height="100px"  class="png left" style="margin-left:20px;width:450px;"></a>
        @*<div class="top-menu">
			<div class="navigator-house-rent mauto">
				<ul class="clearfix">
					<li class="home"><a href=""><p>&nbsp;</p></a></li>
					<li class="house-sell"><a href=""><p>&nbsp;</p></a></li>
					<li class="house-rent"><a href=""><p>&nbsp;</p></a></li>
					<li class="infomation"><a href=""><p>&nbsp;</p></a></li>

				</ul>
			</div>
		</div>*@
        <div style="width: 975px; height: 115px;">
            <ul class="menuTemplate1 decor1_1"  style="margin-top: 15px; margin-left: 246px; clear: both;">
    <li><a href="/Home/Index">Trang chủ</a></li>
    <li class="separator"></li>
    <li><a href="/Home/Search" class="arrow">Tìm kiếm</a>
       </li>
    <li class="separator"></li>
    <li><a href="/Home/About">Thông tin</a></li>
    
    
   
    
</ul>
        
        </div>
	</div>
	<div class="sub-top-menu">
		</div>
</div>
<div class="container site-width">
<div class="content">

<div class="left w235" id="colum-left">
<div class="element-left">
@Html.Partial("SearchPanel", new BDSBanGap.Models.SearchModel())
</div> <!-- end div .element-left-->

<div class="element-left">
	@Html.Partial("NhaUuTien", ViewBag.NhaUuTien as IEnumerable<BDSBanGap.Models.DBContext.Product>) <!-- end .house-priority -->
</div> <!--end .element-left -->

<div class="element-left">
<input name="" href="" type="image" class="img-adv" src="../../Content/images/img-demo.jpg" border="1" />
</div>

</div> <!-- end div #colum-left-->

<div class="right" id="colum-right">
<div class="element-right">
	@RenderBody()
</div> <!-- end element-right -->

</div> <!-- end .right #colum-right -->



<div class="clearBoth"></div>
</div> <!--end content-->
</div> <!--end container-->
        @*<div class="footer">
<!--end footer--></div>*@
        <div id="footer_rail">
            <div id="footer_top_bg"><!-- IE Fix --></div>
            <div id="bot-footter">
                <div id="logo-footter">
                    <a href="#"><img src="../../Content/images/BDS_logo.png" width="190"></a>
                    <br />
                    <p>
                        14 Hoa Sứ, Phường 2 <br>
                                            Quận Phú Nhuận, HCM <br>
                                                                <br>
                                                                Điện thoại: 090.88.666.79 <br>
                                                                                          Email: athulam2003@gmail.com <br>
                    </p>
                </div>
                <div class="menu-footter">
			<ul> 
				<li><a href="#"><img src="../../Content/images/BDS_logo.png" width="460"></a></li>
			</ul>
		</div>
                <div class="copyright-footer">
                    <ul>
                        <p>Designed and developed by MinhSong<br/>
                        Email: truongminhsong@gmail.com<br/>
                        Tel: +84938.505.866</p>
                    </ul>
                    
                </div>
		
		
		
	</div>
        </div>
        
        
    </body>
</html>
