<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="Stylesheet" type="text/css" />
    <link href="../../Content/styles/home.css" rel="stylesheet" type="text/css" />
</head>

    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>

    <body>
        <div id="header">
	<div class="site-width margin-auto" style="padding-top:20px;">
		<a href=""><img src="../../Content/images/logo.gif" height="59"  class="png left" style="margin-left:20px;width:278px;"></a>
		<div class="header-search left" style="margin-left:70px;margin-top:15px;">
			<form id="menu_search_frm" action="http://www.autobay.vn/car/search_keyword" method="post">
				<input type="text" name="keyword" id="search_keyword" value="Nhập từ khóa" class="left ui-autocomplete-input" style="color:#000000;font-family:Arial;" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
				<button class="btn_timxe" type="submit" style="cursor:pointer;"></button>
				<br class="clearLeft">

			</form>
		</div>

		<div class="top-menu">
			<div class="navigator-house-rent mauto">
				<ul class="clearfix">
					<li class="home"><a href=""><p>&nbsp;</p></a></li>
					<li class="house-sell"><a href=""><p>&nbsp;</p></a></li>
					<li class="house-rent"><a href=""><p>&nbsp;</p></a></li>
					<li class="infomation"><a href=""><p>&nbsp;</p></a></li>

				</ul>
			</div>
		</div>
	</div>
	<div class="sub-top-menu">
		</div>
</div>
<div class="container site-width">
<div class="content">

<div class="left w235" id="colum-left">
<div class="element-left">
@Html.Partial("Search",new BDSBanGap.Models.SearchModel())
</div> <!-- end div .element-left-->

<div class="element-left">
	@Html.Partial("NhaUuTien", ViewBag.NhaUuTien as IEnumerable<BDSBanGap.Models.DBContext.Product>) <!-- end .house-priority -->
</div> <!--end .element-left -->

<div class="element-left">
<input name="" href="" type="image" class="img-adv" src="../../Content/images/img-demo.jpg" border="1" />
</div>

</div> <!-- end div #colum-left-->

<div class="right" id="colum-right">
<div class="element-right">
	@RenderBody()
</div> <!-- end element-right -->

</div> <!-- end .right #colum-right -->



<div class="clearBoth"></div>
</div> <!--end content-->
</div> <!--end container-->
<div class="footer">
<!--end footer--></div>
        
    </body>
</html>
