@model BDSBanGap.Models.DBContext.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">KVNgangTruoc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KVNgangTruoc)
    </div>

    <div class="display-label">KVNgangSau</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KVNgangSau)
    </div>

    <div class="display-label">KVDai</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.KVDai)
    </div>

    <div class="display-label">CNNgangTruoc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CNNgangTruoc)
    </div>

    <div class="display-label">CNNgangSau</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CNNgangSau)
    </div>

    <div class="display-label">CNDai</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CNDai)
    </div>

    <div class="display-label">XDNgangTruoc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.XDNgangTruoc)
    </div>

    <div class="display-label">XDNgangSau</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.XDNgangSau)
    </div>

    <div class="display-label">XDDai</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.XDDai)
    </div>

    <div class="display-label">LoaiDiaOc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiDiaOc)
    </div>

    <div class="display-label">TinhTrangPhapLy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TinhTrangPhapLy)
    </div>

    <div class="display-label">Huong</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Huong)
    </div>

    <div class="display-label">DuongTruocNha</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DuongTruocNha)
    </div>

    <div class="display-label">ViTriDiaOc</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ViTriDiaOc)
    </div>

    <div class="display-label">SoLau</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLau)
    </div>

    <div class="display-label">SoPhongKhach</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoPhongKhach)
    </div>

    <div class="display-label">SoPhongNgu</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoPhongNgu)
    </div>

    <div class="display-label">SoPhongTam</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoPhongTam)
    </div>

    <div class="display-label">SoPhongKhac</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoPhongKhac)
    </div>

    <div class="display-label">DayDuTienNghi</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayDuTienNghi)
    </div>

    <div class="display-label">ChoDauXeHoi</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChoDauXeHoi)
    </div>

    <div class="display-label">SanVuon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SanVuon)
    </div>

    <div class="display-label">HoBoi</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoBoi)
    </div>

    <div class="display-label">TienKinhDoanh</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TienKinhDoanh)
    </div>

    <div class="display-label">TienDeO</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TienDeO)
    </div>

    <div class="display-label">TienLamVanPhong</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TienLamVanPhong)
    </div>

    <div class="display-label">TienSanXuat</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TienSanXuat)
    </div>

    <div class="display-label">ChoSinhVienThue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChoSinhVienThue)
    </div>

    <div class="display-label">ContactId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactId)
    </div>

    <div class="display-label">WardId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WardId)
    </div>

    <div class="display-label">DistrictId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistrictId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
