@model BDSBanGap.Models.DBContext.Booked

@{
    ViewBag.Title = "DKBDS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/styles/chosen.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Đăng ký mua bất động sản</legend>

        <table>
            <tbody>
                <tr>
                    <td>
                        Tên:
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FullName)
                            @Html.ValidationMessageFor(model => model.FullName)
                        </div>
                    </td>

                    <td>
                        Điện thoại:
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Phone)
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </td>

                    <td>
                        Mục đích đăng ký:
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.DropDownListFor(s => s.Type, ViewBag.Type as SelectList)
                        </div>
                    </td>
                </tr>
                 <tr>
                    <td>
                        Giá từ
                    </td>
                    <td>
                       <div class="editor-field">
                            @Html.TextBoxFor(model => model.MaxPrice, new {style="max-width: 60px;" })
                            
                            Đến
                            @Html.TextBoxFor(model => model.MinPrice,new {style="max-width: 60px;" })
                           Tỷ đồng
                            @Html.ValidationMessageFor(model => model.MinPrice)
                           @Html.ValidationMessageFor(model => model.MaxPrice)
                        </div>
                    </td>

                    <td>
                       Quận
                    </td>
                    <td>
                         <div class="editor-field">
                             @Html.DropDownList("District-select", ViewBag.DistrictsList as SelectList, new {id="District-select",@class="District-select"})
                            @Html.HiddenFor(s => s.Districts, new { id="Districts"})
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
       
        <div class="editor-label">
            Mô tả chi tiết
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
        </div>
        <br />     
        <p>
            <input type="submit" value="Gởi thông tin" />
        </p>
    </fieldset>
}
<script type="text/javascript">
    CKEDITOR.replace('Description', {
        toolbar: 'Basic',
        uiColor: '#9AB8F3'
    });
    $(".District-select").chosen().change();
    $(".District-select").trigger('liszt:updated');
    $(".District-select").chosen({ max_selected_options: 30 });

    $('#District-select').chosen().change(function () {
        $('#Districts').val('');
        // add all selected options to the array in the first loop
        $('#District-select').find("option").each(function () {
            if (this.selected) {
                $('#Districts').val($('#Districts').val() + this.value + ";");
            }
        })

        // then either disabled or enable them in the second loop:
    });
</script>