@model IEnumerable<BDSBanGap.Models.DBContext.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            KVNgangTruoc
        </th>
        <th>
            KVNgangSau
        </th>
        <th>
            KVDai
        </th>
        <th>
            CNNgangTruoc
        </th>
        <th>
            CNNgangSau
        </th>
        <th>
            CNDai
        </th>
        <th>
            XDNgangTruoc
        </th>
        <th>
            XDNgangSau
        </th>
        <th>
            XDDai
        </th>
        <th>
            LoaiDiaOc
        </th>
        <th>
            TinhTrangPhapLy
        </th>
        <th>
            Huong
        </th>
        <th>
            DuongTruocNha
        </th>
        <th>
            ViTriDiaOc
        </th>
        <th>
            SoLau
        </th>
        <th>
            SoPhongKhach
        </th>
        <th>
            SoPhongNgu
        </th>
        <th>
            SoPhongTam
        </th>
        <th>
            SoPhongKhac
        </th>
        <th>
            DayDuTienNghi
        </th>
        <th>
            ChoDauXeHoi
        </th>
        <th>
            SanVuon
        </th>
        <th>
            HoBoi
        </th>
        <th>
            TienKinhDoanh
        </th>
        <th>
            TienDeO
        </th>
        <th>
            TienLamVanPhong
        </th>
        <th>
            TienSanXuat
        </th>
        <th>
            ChoSinhVienThue
        </th>
        <th>
            ContactId
        </th>
        <th>
            WardId
        </th>
        <th>
            DistrictId
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KVNgangTruoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KVNgangSau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KVDai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNNgangTruoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNNgangSau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNDai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XDNgangTruoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XDNgangSau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XDDai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiDiaOc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangPhapLy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuongTruocNha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViTriDiaOc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoPhongKhach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoPhongNgu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoPhongTam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoPhongKhac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayDuTienNghi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChoDauXeHoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanVuon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoBoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienKinhDoanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienDeO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienLamVanPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TienSanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChoSinhVienThue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WardId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistrictId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
