@model BDSBanGap.Models.SearchModel

@{
    ViewBag.Title = "tìm kiêm Bất động sản, nhà bán gấp";
    var result = ViewBag.SearchResult as List<BDSBanGap.Models.DBContext.Product>;
    int pg = (int)ViewBag.pg;
    int show = (int)ViewBag.show;
    int count = (int)ViewBag.count;
}

<style type="text/css">
    table td {
        padding: 1px;
        border: none;
    }
</style>
<div class="Search-panel">
        <div id="quicksearch" class="search_result paginator">
	<div id="quicksearch_title">
		<strong>Tìm kiếm chi tiết</strong>
		<span>&nbsp;</span>
	</div>
	<div class="clearBoth"></div>
	<form method="get" action="/Home/Search">		
    @Html.Hidden("show", 15)  
    @Html.Hidden("pg", 1)
		  <input type="hidden" name="pg" value="1">
            <table class="cobtbl" width="100%" border="0" cellspacing="1" cellpadding="3">
                <tbody>
                    <tr></tr>
                    <tr> 
                        <td class="cobhl" align="center" colspan="4" height="20"></td>
                    </tr>
                    <tr  style="height: 20px;">
                        <td class="cobhl" width="24%" align="right">Tiêu đề</td>
                        <td colspan="3">@Html.TextBoxFor(model => model.Title, new { style = "width: 483px; " })</td>
                    </tr>
                    <tr>
                        <td class="cobhl" width="14%" align="right">Giá thấp nhất</td>
                        <td class="cobll" width="23%">
                            <select id="From" name="From" >
                                <option>Tất cả</option>
                                <option value="1">1 Tỷ</option>
                                <option value="1">2 Tỷ</option>
                                <option value="1">4 Tỷ</option>
                                <option value="1">6 Tỷ</option>
                                <option value="1">10 Tỷ</option>
                                <option value="1">15 Tỷ</option>
                                <option value="1">20 Tỷ</option>
                            </select>
                        </td>
                        <td class="cobhl" width="16%" align="right" >Giá cao nhất</td>
                        <td class="cobll" width="37%">
                            <select id="To" name="To" >
                                <option>Tất cả</option>
                                <option value="1">2 Tỷ</option>
                                <option value="1">4 Tỷ</option>
                                <option value="1">6 Tỷ</option>
                                <option value="1">8 Tỷ</option>
                                <option value="1">10 Tỷ</option>
                                <option value="1">15 Tỷ</option>
                                <option value="1">20 Tỷ</option>
                                <option value="1">25 Tỷ</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="cobhl" width="24%" align="right">Quận:</td>
                        <td class="cobll" width="23%">@Html.DropDownListFor(s => s.Dis, ViewBag.Districts as SelectList, "Tất cả")
                        </td>
                        <td class="cobhl" width="16%" align="right">Loại địa ốc:</td>
                        <td class="cobll" width="37%">
                            @Html.DropDownListFor(s => s.LDO, ViewBag.LoaiDiaOcs as SelectList, "Tất cả")
                        </td>
                    </tr>
                    <tr>
                        <td class="cobhl" width="24%" align="right">Tình trạng pháp lý:</td>
                        <td class="cobll" width="23%">@Html.DropDownListFor(s => s.PL, ViewBag.Phaplys as SelectList,"Tất cả")
                        </td>
                        <td class="cobhl" width="16%" align="right">Hướng :</td>
                        <td class="cobll" width="37%">
                            @Html.DropDownListFor(s => s.H, ViewBag.Huongs as SelectList, "Tất cả")
                        </td>
                    </tr>
                    <tr>
                        <td class="cobhl" width="24%" align="right">Đường trước nhà:</td>
                        <td class="cobll" width="23%">@Html.EditorFor(s => s.Duong)
                        <td class="cobhl" width="16%" align="right">Vị trí địa ốc:</td>
                        <td class="cobll" width="37%">
                            @Html.DropDownListFor(s => s.VT, ViewBag.VitriDiaOcs as SelectList, "Tất cả")
                        </td>
                    </tr>
                    <tr>
                        
                        <td class="cobll" colspan="4" align="center">
                            <input type="submit" class="btnSearch" value="Tìm Kiếm" />
                        </td>
                    </tr>

                </tbody></table>
		</form>
</div>
    </div>
	<div class="list-house-content mt5 pt5">
    <div class="list-house-header-left left pb10">
        <h3 class="blue bold left">
            Tìm thấy <span class="list-house-count" id="house-sell-count">@count</span> kết quả như bạn mong muốn
        </h3>
        <br class="clearBoth" />
    </div>
    <!-- end .house-sell-header-left -->
    <div class="list-house-header-right right">
        <div class="paginator_number" style="width: auto;">
            @if (count > show)
            {
                string url = System.Text.RegularExpressions.Regex.Replace(HttpContext.Current.Request.Url.AbsoluteUri, @"pg=\d+", "pg=" + (pg - 1));
                int pages = count % show == 0 ? count / show : count / show + 1;
                if (pg != 1)
                {        
                <div class="prev_link">
                    <a href="@url">
                        <img src="../../Content/images/paging/p_prev.gif" align="absmiddle">
                    </a>
                </div>
                }



                for (int i = 1; i <= pages; i++)
                {
                    url = @System.Text.RegularExpressions.Regex.Replace(HttpContext.Current.Request.Url.AbsoluteUri, @"pg=\d+", "pg=" + i);
                    if ((int)ViewBag.pg == i)
                    {
                        
                <div class="current-page">
                    <a href="@url">@i</a></div>
                    }
                    else
                    {
                <div>
                    <a href="@url">@i</a></div>
                    }
                }
                if (pg != pages)
                {
                    url = @System.Text.RegularExpressions.Regex.Replace(HttpContext.Current.Request.Url.AbsoluteUri, @"pg=\d+", "pg=" + (pg + 1));
                <div class="next_link">
                    <a href="@url">
                        <img src="../../Content/images/paging/p_next.gif" align="absmiddle"></a></div>
                <div class="last_link">
                    <a href=""></a>
                </div>
                }
            }
            <div class="clearBoth">
            </div>
        </div>
        <!-- end .paginator-number -->
    </div>
    <!-- end .house-sell-header-right -->
    <br class="clearBoth" />
    <div class="list-items">
        @foreach (var item in result)
        {
            <div id="house-id" class="item">
                <div class="item-image left ml6">
                    <div class="item-image-border">
                        <a href="/Home/Detail/@item.ProductID">
                            @if (item.Images.Count == 0)
                            {
                                <img src="/Content/images/Default-image.jpg"  alt="@item.Title"/>
                            }
                            else
                            {
                                <img src="@item.Images.First().ThumblLink" alt="@item.Title"/>
                            }
                        </a>
                    </div>
                    <!-- end .item-image-border -->
                </div>
                <!--end .item-image -->
                <div class="item-description left ml10" >
                    <strong><a href="/Home/Detail/@item.ProductID">@(item.Title.Length > 65 ? item.Title.Substring(0, 65)+"..." : item.Title)</a>
                        <br />
                    </strong>
                    <p class="mt5">@Html.Raw((item.Description.Length > 120 ? item.Description.Substring(0, 120)+"..." : item.Description))</p>
                    <div class="view-detail">
                        <div style="position: absolute; top: 3px; z-index: 100;">
                            <a style="font-family: Verdana; font-size: 10px;text-align:left;" href="/Home/Detail/@item.ProductID">
                                Xem chi tiết </a>
                        </div>
                        
                    </div>
                    <!-- end .view-detail -->
                    
                </div>
                <!--end .item-description -->
                <div class="border-right-dashed left pl10">
                </div>
                <!--end .border-right-dashed -->
                <div class="item-status left">
                @if (!string.IsNullOrEmpty(item.DuongTruocNha))
                {
                <p style="text-align: center">
                    @item.DuongTruocNha,</p>
                }
                    <p style="text-align: center">
                        P @item.Ward.WardName,</p>
                    <p style="text-align: center">
                        Q @item.Ward.District.DistrictName</p>
                </div>
                <!--end .item-status -->
                <div class="border-right-dashed left">
                </div>
                <!--end .border-right-dashed -->
                <div class="price-place left pl10">
                    <div class="price blue left">@item.Price Tỷ VNĐ</div>
                    <br class="clearBoth" />
                    <div class="place-city pt10">
                        Hướng @BDSBanGap.Models.Enum.huong.GetHuong(item.Huong)</div>
                    <div class="place-distric-road">@BDSBanGap.Models.Enum.TinhTrangPhapLy.GetTinhTrangPhapLy(item.TinhTrangPhapLy)</div>
                    @{
                                               if (item.IsSold)
                                               {
                             <img src="../../Content/images/daban_small.png" style="margin-left: 110px; margin-top: -50px"/>
                                               }
                    }
                   
                </div>
                <!--end .price-place -->
                <br class="clearLeft" />
            </div> <!-- end .item -->
        }
    </div>
    <!-- end .list-items -->
    <div class="border-top-end">
    </div>
    <div class="pagin-end right">
        <div class="paginator-number">
        </div>
        <!-- end .paginator-number -->
    </div>
    <!-- end .pagin-end -->
</div>
<!-- end .house-sell-content -->

        <div class="border-top-end"></div>
        <div class="pagin-end right">
        	<div class="paginator-number">

            </div> <!-- end .paginator-number -->
        </div> <!-- end .pagin-end -->

    </div> <!-- end .house-sell-content -->