@model NhaChoThue.Models.DBContext.Product
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="description" content="@Model.Title" />
<meta name="keywords" content=""@Model.Title" />
<script type="text/javascript" src="/content/common/js/jquery.carouFredSel-6.1.0-packed.js"></script>
<script type="text/javascript" src="/content/common/js/biggerLink.js"></script>
<style type="text/css">
    div#gNav ul li#home {
        background: url(/Content/common/images/bg_gnav_o.jpg) top left repeat-x !important;
    }
</style>
<script type="text/javascript">
    $(function() {
        var $carousel = $('#carousel'),
         $pager = $('#pager');

        function getCenterThumb() {
            var $visible = $pager.triggerHandler( 'currentVisible' ),
             center = Math.floor($visible.length / 2);
   
            return center;
        }

        $carousel.carouFredSel({
            responsive: true,
            items: {
                visible: 1,
                width: 800,
                height: (500/800*100) + '%'
            },
            scroll: {
                fx: 'crossfade',
                onBefore: function( data ) {
                    var src = data.items.visible.first().attr( 'src' );
                    src = src.split( '/large/' ).join( '/small/' );

                    $pager.trigger( 'slideTo', [ 'img[src="'+ src +'"]', -getCenterThumb() ] );
                    $pager.find( 'img' ).removeClass( 'selected' );
                },
                onAfter: function() {
                    $pager.find( 'img' ).eq( getCenterThumb() ).addClass( 'selected' );
                }
            }
        });
        $pager.carouFredSel({
            width: '100%',
            auto: false,
            height: 120,
            items: {
                visible: 'odd'
            },
            onCreate: function() {
                var center = getCenterThumb();
                $pager.trigger( 'slideTo', [ -center, { duration: 0 } ] );
                $pager.find( 'img' ).eq( center ).addClass( 'selected' );
            }
        });
        $pager.find( 'img' ).click(function() {
            var src = $(this).attr( 'src' );
            src = src.split( '/small/' ).join( '/large/' );
            $carousel.trigger( 'slideTo', [ 'img[src="'+ src +'"]' ] );
        });
    });
</script>
<div id="content">
    <div class="section">
        <div class="sectionInner">
            <h2>[@Model.GetID()]@Model.Title</h2>
            <p>Vị trí: @Model.DuongTruocNha , Phường @Model.Ward.WardName, Quận @Model.Ward.District.DistrictName, TP.HCM</p>
            <div class="box">
                <div class="boxImage">
                    <div id="inner">
                        <div id="carousel-wrapper">
                            <div id="carousel">
                                @if(Model.Images.Count>0){
                                    foreach (var item in Model.Images)
                                    {
                                        <img src="@item.ImageLink" alt="@item.Caption" alt="@Model.Title" />
                                    }
                                }else{
                                    <img src="http://www.texasrealestate.com/images/defaultHouse.jpg" alt="alt="@Model.Title"" />
                                }
                            </div>
                        </div>
                        <div id="pager-wrapper">
                            <div id="pager">
                                 @if(Model.Images.Count>0){
                                    foreach (var item in Model.Images)
                                    {
                                        <img src="@item.ImageLink" alt="@item.Caption" alt="@Model.Title" />
                                    }
                                }else{
                                    <img src="http://www.texasrealestate.com/images/defaultHouse.jpg" alt="alt="@Model.Title"" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxContent">
                    <div class="boxDetail">
                        <p class="price">
                            @if (Model.IsHired)
                            {
                                <span>ĐÃ THUÊ</span>  
                            }
                            else
                            {
                                if (Model.Price < 0)
                                {
                                <span>Giá: Thỏa thuận</span>
                                }
                                else
                                {
                                <span>Giá: @(Model.Price)tr/Tháng</span>
                                }
                            }
                        </p>
                        <dl>
                            <dt>Rộng:</dt>
                            <dd>@(Model.Ngan)m</dd>
                            <dt>Dài:</dt>
                            <dd>@(Model.Dai)m</dd>
                            <dt>Phòng ngủ:</dt>
                            <dd>@(Model.SoPhongNgu)</dd>
                            <dt>WC:</dt>
                            <dd>@(Model.SoPhongTam)</dd>
                            <dt>Sân thượng:</dt>
                            <dd>@if (Model.Santhuong)
                                {
                                <span>Có</span>  
                                }
                                else
                                {
                                <span>Không</span>  
                                }</dd>
                            <dt>Số tầng:</dt>
                            <dd>@Model.SoLau</dd>
                        </dl>
                    </div>
                    <div class="boxContact">
                        <h3>Thông tin liên hệ</h3>
                        <p class="contact">@Model.Contact.FullName</p>
                        <p><span>ĐT: @Model.Contact.Phone</span></p>
                        <p><span>Email: @Model.Contact.Email</span></p>
                        <p><span>ĐC: @Model.Contact.Address</span></p>
                    </div>
                </div>
                <div class="description">
                    <h3>Mô tả chi tiết</h3>
                    <p>@Html.Raw(Model.Description)</p>
                </div>
            </div>
            <!-- / class box -->
        </div>
        <!-- / class sectionInner -->
    </div>
    <!-- / class section -->
    <div class="section">
        <div class="sectionInner">
            <h2>Bất động sản cùng giá</h2>
            <ul class="listItem">
                @{
                    var ListCungGia = ViewBag.CungGia as IEnumerable<NhaChoThue.Models.DBContext.Product>;
                    foreach (var item in ListCungGia)
                    {
                    <li>
                        <p class="image">
                            <a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">
                                @if (item.Images.Count > 0)
                                {
                                    <img src="@item.Images.First().ThumblLink" alt="@item.Title" title="@item.Title" width="75" height="75" />
                                }
                                else
                                { 
                                    <img src="/Content/images/Default-image.jpg" width="75" height="75" alt="@item.Title" title="@item.Title" />
                                }
                            </a>
                        </p>
                        <p class="title"><a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">@(item.Title.Length > 50 ? item.Title.Substring(0, 50) + "..." : item.Title)</a></p>
                        <p class="price">
                            @if (item.Price < 0)
                            {
                                <span>Giá: Thỏa thuận</span>
                            }
                            else
                            {
                                <span>Giá: @(item.Price)tr/Tháng</span>
                            }
                        </p>
                    </li>
                    }
                }
            </ul>
        </div>
    </div>
    <!-- / class section -->
    <div class="section">
        <div class="sectionInner">
            <h2>Bất động sản khu vực Phú Nhuận</h2>
            <ul class="listItem">
                @{
                    var ListCungKV = ViewBag.CungKV as IEnumerable<NhaChoThue.Models.DBContext.Product>;
                    foreach (var item in ListCungKV)
                    {
                    <li>
                        <p class="image">
                            <a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">
                                @if (item.Images.Count > 0)
                                {
                                    <img src="@item.Images.First().ThumblLink" alt="@item.Title" title="@item.Title" width="75" height="75" />
                                }
                                else
                                {
                                    <img src="/Content/images/Default-image.jpg" width="75" height="75" alt="@item.Title" title="@item.Title" />  
                                }
                            </a>
                        </p>
                        <p class="title"><a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">@(item.Title.Length > 50 ? item.Title.Substring(0, 50) + "..." : item.Title)</a></p>
                        <p class="price">
                            @if (item.Price < 0)
                            {
                                <span>Giá: Thỏa thuận</span>
                            }
                            else
                            {
                                <span>Giá: @(item.Price)tr/Tháng</span>
                            }
                        </p>
                    </li>
                    }
                }
            </ul>
        </div>
    </div>
    <!-- / class section -->
</div>
