@model IEnumerable<NhaChoThue.Models.DBContext.Product>
@{
    ViewBag.Title = "Cho thuê nhà, Cho thuê bất động sản quận bình thạnh, Q3, Phú Nhuận, Q1...";
    int pg = (int)ViewBag.pg;
    int show = (int)ViewBag.show;
    int count = (int)ViewBag.count;
    var reg = new System.Text.RegularExpressions.Regex(@"<.*?>");
}
<style type="text/css">
    div#gNav ul li#home {
        background: url(/Content/common/images/bg_gnav_o.jpg) top left repeat-x !important;
    }
</style>
<div id="content">
    <div class="group">
        <p><strong>@((pg - 1) * show + 1)</strong> đến <strong>@(pg * show)</strong> trong <strong>@count</strong> nhà cho thuê</p>
        <div class="pagination">
            <ul>
                @if (count > show)
                {
                    int pages = count % show == 0 ? count / show : count / show + 1;
                    if (pg != 1)
                    {  
                    <li><a href="/home/index?pg=@(pg - 1)&show=@show">&laquo;</a></li>
                    }
                    for (int i = 1; i <= pages; i++)
                    {
                        if ((int)ViewBag.pg == i)
                        {
                    <li class="active"><a href="/home/index?pg=@(i)&show=@(show)">@i</a></li>
                        }
                        else
                        {
                    <li><a href="/home/index?pg=@(i)&show=@(show)">@i</a></li>
                        }
                    }
                    if (pg != pages)
                    {               
                    <li><a href="/home/index?pg=@(pg + 1)&show=@(show)">&raquo;</a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <ul class="listHouse">
        @foreach (var item in Model)
        {
            <li>
                <p class="image">
                    <span>MS @item.GetID()</span>
                    <a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">
                        @if (item.Images.Count == 0)
                        {
                            <img src="/Content/images/Default-image.jpg" alt="@item.Title"/>
                        }
                        else
                        {
                            <img src="@item.Images.First().ThumblLink" alt="@item.Title" />
                        }
                    </a>
                    @if (item.IsHired)
                    {
                        <img src="/Content/images/daban_small.png" style="position: absolute; margin-top: -55px" />
                    }
                </p>
                <div class="detail">
                    <p class="title"><a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">@reg.Replace((item.Title.Length > 100 ? item.Title.Substring(0, 100) + "..." : item.Title), "")</a></p>
                    <p class="content">@Html.Raw(reg.Replace(item.Description, ""))</p>
                    <p class="info">
                        <span>Giá: <em>@if (item.Price < 0)
                                       {
                            <span>Thỏa thuận</span>
                                       }
                                       else
                                       {
                            <span>@(item.Price)tr/Tháng</span>
                                       }</em></span>
                        <span>Đc: <em>P. @item.Ward.WardName, Q. @item.Ward.District.DistrictName</em></span>
                        <span>DT: <em>@(item.Dai * item.Ngan)m&sup2</em></span>
                        <span>Lầu: <em>@item.SoLau</em></span>
                        <span>PN: <em>@item.SoPhongNgu</em></span>
                        <span>WC: <em>@item.SoPhongTam</em></span>
                    </p>
                </div>
            </li>
        }
    </ul>
    <div class="pagination">
        <ul>
            @if (count > show)
            {
                int pages = count % show == 0 ? count / show : count / show + 1;
                if (pg != 1)
                {  
                <li><a href="/home/index?pg=@(pg - 1)&show=@show">&laquo;</a></li>
                }
                for (int i = 1; i <= pages; i++)
                {
                    if ((int)ViewBag.pg == i)
                    {
                <li class="active"><a href="/home/index?pg=@(i)&show=@(show)">@i</a></li>
                    }
                    else
                    {
                <li><a href="/home/index?pg=@(i)&show=@(show)">@i</a></li>
                    }
                }
                if (pg != pages)
                {               
                <li><a href="/home/index?pg=@(pg + 1)&show=@(show)">&raquo;</a></li>
                }
            }
        </ul>
    </div>
</div>