@model NhaChoThue.Models.SearchModel
@{
    ViewBag.Title = "Tìm Cho thuê nhà, Cho thuê bất động sản quận bình thạnh, Q3, Phú Nhuận, Q1...";
    var result = ViewBag.SearchResult as List<NhaChoThue.Models.DBContext.Product>;
    int pagging = (int)ViewBag.pg;
    int show = (int)ViewBag.show;
    int count = (int)ViewBag.count;
    var reg = new System.Text.RegularExpressions.Regex(@"<.*?>");
    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    if (!HttpContext.Current.Request.Url.AbsoluteUri.Contains("pg"))
    {
        url = HttpContext.Current.Request.Url.AbsoluteUri.Substring(0, HttpContext.Current.Request.Url.AbsoluteUri.ToLower().IndexOf("search") + 6) + "?pg=1&show=15";
    }
}
<style type="text/css">
    div#gNav ul li#search {
        background: url(/Content/common/images/bg_gnav_o.jpg) top left repeat-x !important;
    }
</style>
<div id="content">
    <div class="block">
        <p>Tìm kiếm chi tiết</p>
        <form method="get" action="/Home/Search" class="form-horizontal">
            <input type="hidden" name="show" value="15" />
            <input type="hidden" name="pg" value="1" />
            <div class="control-group">
                <label class="control-label fix">Tiêu đề/Mã Số:</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Title, new { @class = "input-xxlarge" })
                </div>
            </div>
            <div class="control-group">
                <div class="input-append">
                    <label class="control-label fix">Giá thấp nhất:</label>
                    <div class="controls">
                        @Html.DropDownListFor(s => s.From, ViewBag.pricesFrom as SelectList, "Tất cả")
                    </div>
                </div>
                <div class="input-append fix">
                    <label class="control-label fix">Giá cao nhất:</label>
                    <div class="controls">
                        @Html.DropDownListFor(s => s.To, ViewBag.PricesTo as SelectList, "Tất cả")
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="input-append">
                    <label class="control-label fix">Đường:</label>
                    <div class="controls">
                        @Html.TextBoxFor(s => s.Duong, new { @class = "input-xlarge" })
                    </div>
                </div>
                <div class="input-append fix">
                    <label class="control-label fix">Quận:</label>
                    <div class="controls">
                        @Html.DropDownListFor(s => s.Dis, ViewBag.Districts as SelectList, "Tất cả")
                    </div>
                </div>
            </div>
            <input type="submit" value="Tìm kiếm" class="btn reset" />
        </form>
    </div>
    <div class="group">
        <p>
        <strong>@((pagging - 1) * show + 1)</strong> đến <strong>@(pagging * show)</strong> trong <strong>@count</strong> nhà cho thuê
        </p>
        <div class="pagination">
            <ul>
                @if (count > show)
                {
                    url = System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + (pagging - 1));
                    int pages = count % show == 0 ? count / show : count / show + 1;
                    if (pagging != 1)
                    {
                    <li><a href="@url">&laquo;</a></li>
                    }
                    for (int i = 1; i <= pages; i++)
                    {
                        url = @System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + i);
                        if (pagging == i)
                        {
                            <li class="active"><a "@url">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@url">@i</a></li>
                        }
                    }
                    if (pagging != pages)
                    {
                        url = @System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + (pagging + 1));               
                    <li><a href="@url">&raquo;</a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <ul class="listHouse">
            @foreach (var item in result)
            {
                <li>
                    <p class="image">
                        <span>MS @item.GetID()</span>
                        <a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">
                            @if (item.Images.Count == 0)
                            {
                                <img src="/Content/images/Default-image.jpg" alt="@item.Title"/>
                            }
                            else
                            {
                                <img src="@item.Images.First().ThumblLink" alt="@item.Title" />
                            }
                        </a>
                        @if (item.IsHired)
                        {
                            <img src="/Content/images/daban_small.png" style="position: absolute; margin-top: -55px" />
                        }
                    </p>
                    <div class="detail">
                        <p class="title"><a href="/Home/Detail/@item.ProductID/@NhaChoThue.Helpers.DataConvertHelper.Titletransform(item.Title)">@reg.Replace((item.Title.Length > 100 ? item.Title.Substring(0, 100) + "..." : item.Title), "")</a></p>
                        <p class="content">@Html.Raw(reg.Replace(item.Description, ""))</p>
                        <p class="info">
                            <span>Giá: <em>@if (item.Price < 0)
                                           {
                                <span>Thỏa thuận</span>
                                           }
                                           else
                                           {
                                <span>@(item.Price)tr/Tháng</span>
                                           }</em></span>
                            <span>Đc: <em>P. @item.Ward.WardName, Q. @item.Ward.District.DistrictName</em></span>
                            <span>DT: <em>@(item.Dai * item.Ngan)m&sup2</em></span>
                            <span>Lầu: <em>@item.SoLau</em></span>
                            <span>PN: <em>@item.SoPhongNgu</em></span>
                            <span>WC: <em>@item.SoPhongTam</em></span>
                        </p>
                    </div>
                </li>
            }
        </ul>
    <div class="pagination">
            <ul>
                @if (count > show)
                {
                    url = System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + (pagging - 1));
                    int pages = count % show == 0 ? count / show : count / show + 1;
                    if (pagging != 1)
                    {
                    <li><a href="@url">&laquo;</a></li>
                    }
                    for (int i = 1; i <= pages; i++)
                    {
                        url = @System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + i);
                        if (pagging == i)
                        {
                            <li class="active"><a "@url">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@url">@i</a></li>
                        }
                    }
                    if (pagging != pages)
                    {
                        url = @System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + (pagging + 1));               
                    <li><a href="@url">&raquo;</a></li>
                    }
                }
            </ul>
        </div>
   
</div>
