@model BDSBanGap.Models.SearchModel

@{
    ViewBag.Title = "Tìm Cho thuê nhà, Cho thuê bất động sản quận bình thạnh, Q3, Phú Nhuận, Q1...";
    var result = ViewBag.SearchResult as List<BDSBanGap.Models.DBContext.Product>;
    int pagging = (int)ViewBag.pg;
    int show = (int)ViewBag.show;
    int count = (int)ViewBag.count;
    var reg = new System.Text.RegularExpressions.Regex(@"<.*?>");
    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    if(!HttpContext.Current.Request.Url.AbsoluteUri.Contains("pg"))
    {
        url = HttpContext.Current.Request.Url.AbsoluteUri.Substring(0,HttpContext.Current.Request.Url.AbsoluteUri.ToLower().IndexOf("search")+6)+"?pg=1&show=15";
    }
}

<style type="text/css">
    table td {
        padding: 1px;
        border: none;
    }
</style>
<div class="Search-panel">
        <div id="quicksearch" class="search_result paginator">
	<div id="quicksearch_title">
		<strong>Tìm kiếm chi tiết</strong>
		<span>&nbsp;</span>
	</div>
	<div class="clearBoth"></div>
	<form method="get" action="/Home/Search">
    <input type="hidden" name="show" value="15" />
    <input type="hidden" name="pg" value="1" />
    <table class="cobtbl" width="100%" border="0" cellspacing="1" cellpadding="3">
                <tbody>
                    <tr></tr>
                    <tr> 
                        <td class="cobhl" align="center" colspan="4" height="20"></td>
                    </tr>
                    <tr  style="height: 20px;">
                        <td class="cobhl" width="24%" align="right">Tiêu đề</td>
                        <td colspan="3">@Html.TextBoxFor(model => model.Title, new { style = "width: 490px; " })</td>
                    </tr>
                    <tr>
                        <td class="cobhl" width="14%" align="right">Giá thấp nhất</td>
                        <td class="cobll" width="23%">
                        @Html.DropDownListFor(s=>s.From,ViewBag.pricesFrom as SelectList,"Tất cả")
                        </td>
                        <td class="cobhl" width="16%" align="right" >Giá cao nhất</td>
                        <td class="cobll" width="37%">
                        @Html.DropDownListFor(s => s.To, ViewBag.PricesTo as SelectList, "Tất cả")
                        </td>
                    </tr>
                    <tr>
                        <td class="cobhl" width="24%" align="right">Đường:</td>
                        <td class="cobll" width="23%">@Html.TextBoxFor(s => s.Duong, new { style = "width: 140px; " })
                        <td class="cobhl" width="24%" align="right">Quận:</td>
                        <td class="cobll" width="23%">@Html.DropDownListFor(s => s.Dis, ViewBag.Districts as SelectList, "Tất cả")
                        </td>
                    </tr>
                    <tr>
                        
                        <td class="cobll" colspan="4" align="center">
                            <input type="submit" class="btnSearch" value="Tìm Kiếm" />
                        </td>
                    </tr>

                </tbody></table>
	</form>
</div>
    </div>
	<div class="list-house-content mt5 pt5">
    <div class="list-house-header-left left pb10">
        <h3 class="blue bold left">
            @((pagging-1)*show+1) đến @(pagging*show) trong <span class="list-house-count" id="house-sell-count">@count</span> kết quả như bạn mong muốn
        </h3>
        <br class="clearBoth" />
    </div>
    <!-- end .house-sell-header-left -->
    <div class="list-house-header-right right">
        <div class="paginator_number" style="width: auto;">
            @if (count > show)
            {
                url = System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + (pagging - 1));
                int pages = count % show == 0 ? count / show : count / show + 1;
                if (pagging != 1)
                {        
                <div class="prev_link">
                    <a href="@url">
                        <img src="../../Content/images/paging/p_prev.gif" align="absmiddle">
                    </a>
                </div>
                }



                for (int i = 1; i <= pages; i++)
                {
                    url = @System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + i);
                    if (pagging == i)
                    {
                        
                <div class="current-page">
                    <a href="@url">@i</a></div>
                    }
                    else
                    {
                <div>
                    <a href="@url">@i</a></div>
                    }
                }
                if (pagging != pages)
                {
                    url = @System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + (pagging + 1));
                <div class="next_link">
                    <a href="@url">
                        <img src="../../Content/images/paging/p_next.gif" align="absmiddle"></a></div>
                <div class="last_link">
                    <a href=""></a>
                </div>
                }
            }
            <div class="clearBoth">
            </div>
        </div>
        <!-- end .paginator-number -->
    </div>
    <!-- end .house-sell-header-right -->
    <br class="clearBoth" />
  <div class="list-items">
        @foreach (var item in result)
        {
             <div class="item">
                <div class="item-info">
                    <div class="item-left">
                        <div class="item-id">MS: @item.GetID()</div>
                        <div class="item-image">
                            <a href="/Home/Detail/@item.ProductID">
                            @if (item.Images.Count == 0)
                            {
                                <img src="/Content/images/Default-image.jpg" alt="@item.Title"/>
                            }
                            else
                            {
                                <img src="@item.Images.First().ThumblLink" alt="@item.Title" />
                            }
                        </a>
                        </div>
                   @if (item.IsHired)
                    {
                        <img src="../../Content/images/daban_small.png" style="position: absolute; margin-top: -55px" />
                    }
                    </div>
                    <div class="item-right-content">
                        <div class="item-right">
                            <div class="item-title"><a href="/Home/Detail/@item.ProductID">@reg.Replace((item.Title.Length > 100 ? item.Title.Substring(0, 100) + "..." : item.Title), "")</a></div>
                            <div class="item-description">@Html.Raw(reg.Replace(item.Description,""))</div>

                        </div>
                        <div class="item-bottom">
                            <div class="bottom-item">
                              Giá: 
                                                    <p class="bottom-item-value">
                                                    @if (item.Price < 0)
                                                        {
                                                            <text>Thỏa thuận
                                                        </text>
                                                        }
                                                        else
                                                        {
                                                        <text>@(item.Price)tr/Tháng
                                                        </text>
                                                }
                                                    </p>
                            </div>
                            <div class="bottom-item">
                                Đc:
                                                    <p class="bottom-item-value">P. @item.Ward.WardName, Q. @item.Ward.District.DistrictName</p>
                            </div>
                            <div class="bottom-item">
                                DT:
                                                    <p class="bottom-item-value">@(item.Dai*item.Ngan)m&sup2</p>
                            </div>
                            <div class="bottom-item">
                                Lầu:
                                                    <p class="bottom-item-value">@item.SoLau</p>
                            </div>
                            <div class="bottom-item">
                                PN:
                                                    <p class="bottom-item-value">@item.SoPhongNgu</p>
                            </div>
                            <div class="bottom-item">
                                WC:
                                                    <p class="bottom-item-value">@item.SoPhongTam</p>
                            </div>
                            <div class="clearBoth"></div>
                        </div>
                    </div>
                   
                    <div class="clearBoth"></div>
                </div>

            </div>
        }
    </div>
    <!-- end .list-items -->
    <div class="list-house-header-right right">
        <div class="paginator_number" style="width: auto;">
            @if (count > show)
            {
                url = System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + (pagging - 1));
                int pages = count % show == 0 ? count / show : count / show + 1;
                if (pagging != 1)
                {        
                <div class="prev_link">
                    <a href="@url">
                        <img src="../../Content/images/paging/p_prev.gif" align="absmiddle">
                    </a>
                </div>
                }



                for (int i = 1; i <= pages; i++)
                {
                    url = @System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + i);
                    if (pagging == i)
                    {
                        
                <div class="current-page">
                    <a href="@url">@i</a></div>
                    }
                    else
                    {
                <div>
                    <a href="@url">@i</a></div>
                    }
                }
                if (pagging != pages)
                {
                    url = @System.Text.RegularExpressions.Regex.Replace(url, @"pg=\d+", "pg=" + (pagging + 1));
                <div class="next_link">
                    <a href="@url">
                        <img src="../../Content/images/paging/p_next.gif" align="absmiddle"></a></div>
                <div class="last_link">
                    <a href=""></a>
                </div>
                }
            }
            <div class="clearBoth">
            </div>
        </div>
        <!-- end .paginator-number -->
    </div>
    <div class="border-top-end">
    </div>
    <div class="pagin-end right">
        <div class="paginator-number">
        </div>
        <!-- end .paginator-number -->
    </div>
    <!-- end .pagin-end -->
</div>
<!-- end .house-sell-content -->

        <div class="border-top-end"></div>
        <div class="pagin-end right">
        	<div class="paginator-number">

            </div> <!-- end .paginator-number -->
        </div> <!-- end .pagin-end -->

    </div> <!-- end .house-sell-content -->
